<ngx-spinner></ngx-spinner>
<div class="patient-list-page inner-scroll">
    <div class="section-header">
        <h2>Patient List</h2>
        <div class="header-items">
            <!-- <button mat-stroked-button class="outline-btn"  matTooltip="Add patients" (click)="addPatient()">Add a
                Patient</button>
            <button mat-stroked-button class="outline-btn" matTooltip="Add Multiple Patients">Add Multiple
                Patient</button> -->
        </div>
    </div>
    <div class="section-filters">
        <div class="left-col">
            <div class="search-field">
                <mat-form-field>
                    <input
                        matInput
                        [ngModel]="search"
                        name="search"
                        (ngModelChange)="filterChange($event, 'search')"
                        placeholder="Enter a search item"
                    />
                    <mat-icon matSuffix>
                        <img src="../../../../assets/search.svg" alt="" />
                    </mat-icon>
                </mat-form-field>
            </div>
        </div>
        <div class="right-col">
            <button
                matTooltip="Download List of patients"
                mat-button
                class="download-btn"
                (click)="exporttocsv()"
            >
                <img
                    matSuffix
                    src="../../../../../assets/download.svg"
                    alt=""
                />
                Download List of Patients
            </button>
            <button
                matTooltip="Download all patients records"
                mat-button
                class="download-btn"
                (click)="recordsexporttocsv()"
            >
                <img
                    matSuffix
                    src="../../../../../assets/download.svg"
                    alt=""
                />

                Download all Patient Reports
            </button>
        </div>
    </div>
    <div class="table-container">
        <div class="table-filter">
            <mat-button-toggle-group
                class="tab-filter"
                [value]="requestParam.status"
            >
                <mat-button-toggle
                    matTooltip="View All Patients"
                    [ngClass]="{
                        'mat-button-toggle-checked': requestParam.status === ''
                    }"
                    (change)="filterChange($event.value, 'status')"
                    value=""
                    >All Patients ({{ this.systemTotal }})
                </mat-button-toggle>
                <mat-button-toggle
                    matTooltip="View Active Patients"
                    [ngClass]="{
                        'mat-button-toggle-checked': requestParam.status === '1'
                    }"
                    (change)="filterChange($event.value, 'status')"
                    value="active"
                    >Active ({{ this.active }})
                </mat-button-toggle>
                <mat-button-toggle
                    matTooltip="View InActive Patients"
                    [ngClass]="{
                        'mat-button-toggle-checked': requestParam.status === '0'
                    }"
                    (change)="filterChange($event.value, 'status')"
                    value="inactive"
                    >Inactive ({{ this.inactive }})
                </mat-button-toggle>
            </mat-button-toggle-group>
            <div class="select-filter-container">
                <!-- <mat-form-field style="width: 10rem">
                    <mat-label>Sort By</mat-label>
                    <mat-select
                        (selectionChange)="filterChange($event.value, 'type')"
                        [(value)]="selected"
                    >
                        <mat-option value="asc"> Ascending </mat-option>
                        <mat-option value="desc"> Descending </mat-option>
                    </mat-select>
                </mat-form-field> -->

                <!-- <mat-form-field style="width: 15.625rem;">
                    <mat-label>Blood pressure (mmHg)</mat-label>

                    <mat-select (selectionChange)="filterChange($event.value,'bp')">
                        <mat-option value="Avg of 10"> Avg of:10 readings </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field style="width: 11.25rem;">
                    <mat-label>Pulse (bpm)</mat-label>
                    <mat-select (selectionChange)="filterChange($event.value,'pulse')">
                        <mat-option value="bpm"> Avg of:10 readings </mat-option>
                    </mat-select>
                </mat-form-field> -->
            </div>
            <mat-button-toggle-group
                class="list-view-toggle"
                [value]="addClass"
            >
                <mat-button-toggle
                    matTooltip="Grid View"
                    (change)="listViewChange($event.value)"
                    value="grid-view"
                >
                    <img src="../../../../../assets/grid-icon.svg" alt="" />
                </mat-button-toggle>
                <mat-button-toggle
                    matTooltip="List View"
                    (change)="listViewChange($event.value)"
                    value="list"
                >
                    <img src="../../../../../assets/list-icon.svg" alt="" />
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <!-- add class  grid-view for grid view -->
        <ul
            *ngIf="addClass === 'grid-view'"
            class="data-table-list"
            [ngClass]="addClass"
        >
            <li
                class="data-item"
                *ngFor="let data of list; let rowIndex = index"
            >
                <div class="data-card-header">
                    <div class="profile-col">
                        <img
                            class="avatar"
                            src="assets/images/avatars/profile.jpg"
                            alt=""
                        />
                        <div class="profile-details">
                            <p class="name">
                                {{ data.first_name }} {{ data.last_name }}
                            </p>
                            <span>{{ data.gender }}, {{ data.age }}</span>
                        </div>
                    </div>
                    <div class="action-col">
                        <div class="toggle-switch">
                            <input
                                type="checkbox"
                                hidden
                                name="doctor_status_{{ rowIndex + 1 }}"
                                id="toggle{{ rowIndex }}"
                                [(ngModel)]="data.status"
                                [checked]="data.status"
                                (change)="changeStatus(data)"
                            />
                            <label
                                class="toggle-slider"
                                for="toggle{{ rowIndex }}"
                            ></label>
                        </div>
                    </div>
                </div>
                <div class="data-card-body">
                    <div class="patient-details-list">
                        <div class="details-item">
                            <label>Patient ID</label>
                            <p>{{ data.patient_id }}</p>
                        </div>
                        <!-- <div class="details-item">
                            <label>Pulse ({{ units.pulse }})</label>
                            <p>{{ data.pulse }}</p>
                        </div> -->
                        <div class="details-item">
                            <label
                                >Last Blood Pressure({{
                                    units.last_weight
                                }})</label
                            >

                            <p *ngIf="data.lastSystolic != null">
                                {{ data.lastSystolic }}/{{ data.lastDiastolic }}
                            </p>
                            <p *ngIf="data.lastSystolic == null">N/A</p>
                        </div>
                        <div class="details-item">
                            <label
                                >Blood Pressure ({{
                                    units.blood_pressure
                                }})</label
                            >
                            <p *ngIf="data.systolic != 0">
                                {{ data.systolic }}/{{ data.diastolic }}
                            </p>
                            <p *ngIf="data.systolic == 0">N/A</p>
                        </div>
                        <!-- <div class="details-item">
                            <label>IHB</label>
                            <p *ngIf="data.lhb != null">{{ data.lhb }}</p>
                            <p *ngIf="data.lhb == null">N/A</p>
                        </div> -->
                        <div class="details-item">
                            <label>Consultation Time</label>
                            <p>{{ data.totalTime }}</p>
                        </div>
                    </div>
                </div>
                <div class="data-card-footer">
                    <div class="view-btn">
                        <button mat-icon-button (click)="setData(data)">
                            <mat-icon>visibility</mat-icon>
                            <span class="text">View Details</span>
                        </button>
                    </div>
                </div>
            </li>
        </ul>
        <mat-paginator
            *ngIf="addClass === 'grid-view'"
            style="background: #f1f2f8"
            [length]="total"
            [pageSize]="requestParam.pasgesize"
            [pageSizeOptions]="[5, 10, 25, 100]"
            (page)="getServerData($event)"
            aria-label="Select page"
        >
        </mat-paginator>
        <!--  -->
        <div *ngIf="addClass === 'list'" class="table-wrapper">
            <div class="table-block">
                <ngx-datatable
                    class="material fullscreen"
                    [rows]="(serverResponse | async) || []"
                    [headerHeight]="$any('auto')"
                    [footerHeight]="0"
                    rowHeight="auto"
                    [scrollbarH]="true"
                    [count]="page1.totalElements"
                    [offset]="page1.pageNumber"
                    (page)="setPage($event)"
                    (sort)="onSort($event)"
                >
                    <ngx-datatable-column name="Patient Name" [width]="150">
                        <ng-template
                            let-row="row"
                            let-rowIndex="rowIndex"
                            ngx-datatable-cell-template
                        >
                            <a class="patientName" (click)="setData(row)" matTooltip="view patient">{{ row.first_name }} {{ row.last_name }}</a>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                        name="MRN"
                        prop="patient_id"
                        [width]="100"
                        [sortable]="true"
                    >
                        <ng-template
                            let-row="row"
                            let-rowIndex="rowIndex"
                            ngx-datatable-cell-template
                        >
                            {{ row.patient_id != "" ? row.patient_id : "-" }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                        name="Email"
                        [width]="220"
                        [sortable]="true"
                    >
                        <ng-template
                            let-row="row"
                            let-rowIndex="rowIndex"
                            ngx-datatable-cell-template
                        >
                            {{ row.patient_email }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                        name="Phone"
                        [sortable]="true"
                        [width]="170"
                    >
                        <ng-template
                            let-row="row"
                            let-rowIndex="rowIndex"
                            ngx-datatable-cell-template
                        >
                            {{ row.mobile_phone }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                        name="Region"
                        [sortable]="true"
                        [width]="150"
                    >
                        <ng-template
                            let-row="row"
                            let-rowIndex="rowIndex"
                            ngx-datatable-cell-template
                        >
                            {{ row.city }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                        name="Session"
                        [sortable]="true"
                        [width]="200"
                    >
                        <ng-template
                            let-row="row"
                            let-rowIndex="rowIndex"
                            ngx-datatable-cell-template
                        >
                            {{ row.sessionCount }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                        name="Total Time"
                        [sortable]="true"
                        [width]="180"
                    >
                        <ng-template
                            let-row="row"
                            let-rowIndex="rowIndex"
                            ngx-datatable-cell-template
                        >
                            {{ row.totalTime }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Actions" [sortable]="false">
                        <ng-template
                            let-row="row"
                            let-value="value"
                            let-rowIndex="rowIndex"
                            ngx-datatable-cell-template
                        >
                            <div class="action-col">
                                <a
                                    class="custom-btn-edit"
                                    md-icon-button
                                    value="{{ value }}"
                                    (click)="setData(row)"
                                >
                                    <!--  (click)="editDoctor(row)"  -->
                                    <mat-icon matTooltip="view patient"
                                        >visibility</mat-icon
                                    >
                                </a>
                                <!-- <a
                                    class="custom-btn-edit"
                                    style="margin: 0 1.25rem"
                                    md-icon-button
                                    value="{{ value }}"
                                >
                                    <mat-icon
                                        svgIcon="feather:edit"
                                        matTooltip="edit patient"
                                    ></mat-icon>
                                </a> -->
                                <div
                                    class="toggle-switch ml-3"
                                    matTooltip="change patient status"
                                >
                                    <input
                                        type="checkbox"
                                        hidden
                                        name="doctor_status_{{ rowIndex + 1 }}"
                                        id="toggle{{ rowIndex }}"
                                        [(ngModel)]="row.status"
                                        (change)="changeStatus(row)"
                                        [checked]="row.status"
                                    />
                                    <label
                                        class="toggle-slider"
                                        for="toggle{{ rowIndex }}"
                                    ></label>
                                </div>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <!-- <ngx-datatable-footer>
                <ng-template 
                    ngx-datatable-footer-template
                    let-rowCount="rowCount"
                    let-pageSize="pageSize"
                    let-selectedCount="selectedCount"
                    let-curPage="curPage"
                    let-offset="offset"
                    let-isVisible="isVisible">
                        <div class="page-count">
                        <span>
                        Showing {{(offset*pageSize)+1}} to {{ Math.min(curPage*pageSize, rowCount) }} of 
                        </span>
                        {{rowCount.toLocaleString()}} {{totalMessage}}
                        </div>
                        <datatable-pager
                            [pagerLeftArrowIcon]="'datatable-icon-left'"
                            [pagerRightArrowIcon]="'datatable-icon-right'"
                            [pagerPreviousIcon]="'datatable-icon-prev'"
                            [pagerNextIcon]="'datatable-icon-skip'"
                            [page]="curPage"
                            [size]="pageSize"
                            [count]="rowCount"
                            [hidden]="!((rowCount / pageSize) > 1)"
                            (change)="table.onFooterPage($event)">
                        </datatable-pager>
                    </ng-template>
                </ngx-datatable-footer> -->
                </ngx-datatable>
            </div>
            <mat-paginator
                *ngIf="addClass === 'list'"
                style="background: #f1f2f8"
                [length]="total"
                [pageSize]="requestParam.pasgesize"
                [pageSizeOptions]="[5, 10, 25, 100]"
                (page)="getServerData($event)"
                aria-label="Select page"
                [pageIndex]="requestParam.current"
            >
            </mat-paginator>
        </div>
    </div>
</div>
