<ngx-spinner></ngx-spinner>
<div class="patient-list-page inner-scroll">
    <div class="section-header mb-5">
        <h2>To Do</h2>

        <div class="header-items flex items-center">
            <button
                mat-stroked-button
                class="outline-btn"
                matTooltip="Add To Do"
                class="outline-btn"
                (click)="addToDo()"
            >
                Add To Do
            </button>
        </div>
    </div>

    <div *ngIf="Message" class="toast-container {{ MessageClass }}">
        <p>{{ Message }}</p>
    </div>
    <div class="filter-section lg:flex-nowrap">
        <h3>Filter by</h3>
        <div class="badge-filter">
            <div class="badge-input">
                <mat-checkbox
                    class="example-margin"
                    [(ngModel)]="openchecked"
                    (change)="filterChange('open')"
                    color="primary"
                    >Open</mat-checkbox
                >
                <span class="badge">
                    {{ opencount }}
                </span>
            </div>
            <div class="badge-input">
                <mat-checkbox
                    class="example-margin"
                    [(ngModel)]="closechecked"
                    (change)="filterChange('close')"
                    color="primary"
                    >Closed</mat-checkbox
                >
                <span class="badge">
                    {{ closecount }}
                </span>
            </div>
            <div class="badge-input">
                <mat-checkbox
                    class="example-margin"
                    [(ngModel)]="allchecked"
                    (change)="filterChange('all')"
                    color="primary"
                    >All</mat-checkbox
                >
                <span class="badge">
                    {{ total }}
                </span>
            </div>
        </div>
        <div
            class="filter-items flex items-center w-full flex-wrap mt-4 lg:mt-0"
        >
            <mat-form-field
                appearance="fill"
                class="outline-input period-picker ml-auto"
            >
                <mat-date-range-input
                    [formGroup]="range"
                    [rangePicker]="picker"
                >
                    <input
                        matStartDate
                        formControlName="start"
                        #dateRangeStart
                        placeholder="Select Period"
                        readonly
                    />
                    <input
                        matEndDate
                        formControlName="end"
                        #dateRangeEnd
                        (dateChange)="
                            dateRangeChange(dateRangeStart, dateRangeEnd)
                        "
                        readonly
                    />
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker">
                    <img
                        matDatepickerToggleIcon
                        style="width: 15px"
                        src="../../../../../assets/calendar.svg"
                        alt=""
                    />
                </mat-datepicker-toggle>
                <!-- <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon> -->

                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>

            <div class="section-filters ml-4 mb-0">
                <div class="search-field">
                    <mat-form-field>
                        <input
                            matInput
                            #searchInput
                            placeholder="Search"
                            (keyup)="searchfn($event)"
                        />
                        <mat-icon matSuffix>
                            <img src="../../../../assets/search.svg" alt="" />
                        </mat-icon>
                    </mat-form-field>
                    <button
                        mat-stroked-button
                        class="outline-btn reset-btn ml-3"
                        matTooltip="Reset"
                        (click)="resetForm(dateRangeStart, dateRangeEnd)"
                    >
                        Reset
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="table-container">
        <div *ngIf="addClass === 'list'" class="table-wrapper">
            <div class="table-block">
                <ngx-datatable
                    class="material fullscreen"
                    [rows]="(serverResponse | async) || []"
                    [headerHeight]="$any('auto')"
                    [footerHeight]="0"
                    rowHeight="auto"
                    [scrollbarH]="true"
                    [externalPaging]="true"
                    [count]="page1.totalElements"
                    [offset]="page1.pageNumber"
                    [limit]="page1.size"
                    (page)="setPage($event)"
                    (sort)="onSort($event)"
                >
                    <ngx-datatable-column name="Due Date" [width]="150">
                        <ng-template
                            let-row="row"
                            let-rowIndex="rowIndex"
                            ngx-datatable-cell-template
                        >
                            {{ row.due_date | date: "dd/MM/yyyy" }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="MRN" [width]="150">
                        <ng-template
                            let-row="row"
                            let-rowIndex="rowIndex"
                            ngx-datatable-cell-template
                        >
                            <p *ngIf="row.patient_id != null">
                                #{{ row.patient_id }}
                            </p>
                            <p *ngIf="row.patient_id == null">-</p>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                        [cellClass]="'text-hidden'"
                        name="Patient Name"
                        [width]="200"
                    >
                        <ng-template
                            let-row="row"
                            let-rowIndex="rowIndex"
                            ngx-datatable-cell-template
                        >
                            <span
                                matTooltip="{{ row.first_name }} {{
                                    row.last_name
                                }}"
                            >
                                <p *ngIf="row.patient_id != null">
                                    {{ row.first_name }} {{ row.last_name }}
                                </p>
                                <p *ngIf="row.patient_id == null">-</p>
                            </span>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Item Type" [width]="200">
                        <ng-template
                            let-row="row"
                            let-rowIndex="rowIndex"
                            ngx-datatable-cell-template
                        >
                            <p class="address">
                                {{ row.todo_type }}
                            </p>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Description" [width]="300">
                        <ng-template
                            let-row="row"
                            let-rowIndex="rowIndex"
                            ngx-datatable-cell-template
                        >
                            <p class="address">
                                {{ row.description }}
                            </p>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Status" [width]="100">
                        <ng-template
                            let-row="row"
                            let-rowIndex="rowIndex"
                            ngx-datatable-cell-template
                        >
                            <p
                                *ngIf="row.todoStatus == 1"
                                style="color: #2ac770"
                            >
                                {{ row.status }}
                            </p>
                            <p
                                *ngIf="row.todoStatus == 0"
                                style="color: #d1d4de"
                            >
                                {{ row.status }}
                            </p>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                        name="Action"
                        [sortable]="false"
                        [width]="180"
                    >
                        <ng-template
                            let-row="row"
                            let-rowIndex="rowIndex"
                            ngx-datatable-cell-template
                        >
                            <button
                                mat-icon-button
                                class="notification-btn"
                                matTooltip="Change Status"
                            >
                                <i class="indicator"> </i>
                                <img
                                    *ngIf="row.todoStatus == 0"
                                    class="opacitylow"
                                    src="../../../../assets/icons/status.svg"
                                    alt=""
                                    (click)="statusChangeToDo(row)"
                                />
                                <img
                                    *ngIf="row.todoStatus == 1"
                                    src="../../../../assets/icons/status.svg"
                                    alt=""
                                    (click)="statusChangeToDo(row)"
                                />
                            </button>
                            <button
                                mat-icon-button
                                class="notification-btn"
                                matTooltip="Update"
                            >
                                <i class="indicator"> </i>
                                <img
                                    *ngIf="row.todoStatus == 0"
                                    class="opacitylow"
                                    src="../../../../assets/icons/edit.svg"
                                    alt=""
                                    (click)="updateToDo(row)"
                                />
                                <img
                                    *ngIf="row.todoStatus == 1"
                                    src="../../../../assets/icons/edit.svg"
                                    alt=""
                                    (click)="updateToDo(row)"
                                />
                            </button>
                            <button
                                mat-icon-button
                                class="notification-btn"
                                matTooltip="Delete"
                            >
                                <i class="indicator"> </i>
                                <img
                                    *ngIf="row.todoStatus == 0"
                                    class="opacitylow"
                                    src="../../../../assets/icons/delete.svg"
                                    alt=""
                                    (click)="deleteToDo(row)"
                                />
                                <img
                                    *ngIf="row.todoStatus == 1"
                                    src="../../../../assets/icons/delete.svg"
                                    alt=""
                                    (click)="deleteToDo(row)"
                                />
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
            <mat-paginator
                style="background: #f1f2f8"
                [length]="total"
                [pageSize]="requestParam.pasgesize"
                [pageSizeOptions]="[5, 10, 25, 100]"
                (page)="getServerData($event)"
                aria-label="Select page"
            >
            </mat-paginator>
        </div>
    </div>
</div>

<ng-template #updateToDoList>
    <div class="dialog-content-wrapper">
        <div class="kitting-modal">
            <div class="modal-header">
                <h2>Update To Do</h2>
            </div>
            <div class="modal-body">
                <form
                    [formGroup]="toDoForm"
                    (ngSubmit)="toDoFormSubmit()"
                    class="toDoForm"
                >
                    <div class="input-block">
                        <div class="grid grid-cols-5 gap-5">
                            <div class="col-span-1 sm:col-span-3">
                                <mat-form-field
                                    class="w-full"
                                    appearance="fill"
                                >
                                    <mat-label>Select Item Type</mat-label>
                                    <mat-select
                                        formControlName="item_type"
                                        id="item_type"
                                        [(ngModel)]="item_type"
                                    >
                                        <mat-option
                                            *ngFor="let items of itemTypes"
                                            [value]="items"
                                            >{{ items }}</mat-option
                                        >
                                    </mat-select>
                                    <mat-error
                                        *ngIf="
                                            toDoForm
                                                .get('item_type')
                                                .hasError('required')
                                        "
                                    >
                                        Please Select Item Type
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-span-1 sm:col-span-2">
                                <mat-form-field
                                    class="w-full"
                                    appearance="fill"
                                >
                                    <mat-label>Due Date</mat-label>
                                    <input
                                        matInput
                                        [matDatepicker]="picker"
                                        formControlName="due_date"
                                        id="due_date"
                                        [(ngModel)]="due_date"
                                        [min]="mindate"
                                        readonly
                                    />
                                    <mat-error
                                        *ngIf="
                                            toDoForm
                                                .get('due_date')
                                                .hasError('required')
                                        "
                                    >
                                        Please Choose Due Date
                                    </mat-error>
                                    <mat-datepicker-toggle
                                        matSuffix
                                        [for]="picker"
                                    >
                                        <img
                                            matDatepickerToggleIcon
                                            style="width: 15px"
                                            src="../../../../../assets/calendar.svg"
                                            alt=""
                                        />
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="input-block">
                        <div class="grid grid-cols-1">
                            <div class="col-span-12 sm:col-span-1">
                                <mat-form-field
                                    class="w-full"
                                    appearance="fill"
                                >
                                    <mat-label>Description</mat-label>
                                    <textarea
                                        matInput
                                        formControlName="description"
                                        id="description"
                                        [(ngModel)]="description"
                                        rows="4"
                                        style="resize: none"
                                    ></textarea>
                                    <mat-error
                                        *ngIf="
                                            toDoForm
                                                .get('description')
                                                .hasError('required')
                                        "
                                    >
                                        Please Enter Description
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="input-block">
                        <div class="patient-link">
                            <label> Link to Patient </label>
                            <div
                                class="toggle-switch"
                                matTooltip="change patient status"
                            >
                                <input
                                    type="checkbox"
                                    hidden
                                    formControlName="link_to_patient"
                                    id="toggle"
                                    (change)="link_to_patients($event)"
                                    [(ngModel)]="link_to_patient"
                                />
                                <label
                                    class="toggle-slider"
                                    for="toggle"
                                ></label>
                            </div>
                        </div>
                    </div>

                    <div class="input-block" *ngIf="showPatient">
                        <div class="grid grid-cols-3">
                            <div class="col-span-1 sm:col-span-2">
                                <mat-form-field
                                    class="w-full"
                                    appearance="fill"
                                >
                                    <mat-label>Select Patient</mat-label>
                                    <mat-select
                                        formControlName="patient"
                                        id="patient"
                                        [(ngModel)]="patient"
                                    >
                                        <mat-option
                                            *ngFor="let patients of patientList"
                                            [value]="patients.uuid"
                                            >{{ patients.first_name }}
                                            {{ patients.last_name }}</mat-option
                                        >
                                    </mat-select>
                                    <mat-error
                                        *ngIf="
                                            toDoForm
                                                .get('patient')
                                                .hasError('required')
                                        "
                                    >
                                        Please Select Patient
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="input-block">
                        <p *ngIf="kittingError" style="color: red">
                            {{ kittingError }}
                        </p>
                    </div>
                    <div class="form-action justify-center">
                        <button
                            mat-stroked-button
                            mat-button
                            mat-dialog-close
                            class="cancel-btn"
                            (click)="cancelPopup()"
                        >
                            Cancel
                        </button>
                        <button
                            mat-flat-button
                            color="primary"
                            class="next-btn"
                        >
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #addToDoList>
    <div class="dialog-content-wrapper">
        <div class="kitting-modal">
            <div class="modal-header">
                <h2>Add To Do</h2>
            </div>
            <div class="modal-body">
                <form
                    [formGroup]="toDoForm"
                    (ngSubmit)="toDoAddFormSubmit()"
                    class="toDoForm"
                >
                    <div class="input-block">
                        <div class="grid grid-cols-5 gap-5">
                            <div class="col-span-1 sm:col-span-3">
                                <mat-form-field
                                    class="w-full"
                                    appearance="fill"
                                >
                                    <mat-label>Select Item Type</mat-label>
                                    <mat-select
                                        formControlName="item_type"
                                        id="item_type"
                                        [(ngModel)]="item_type"
                                        placeholder="Select"
                                    >
                                        <mat-option
                                            *ngFor="let items of itemTypes"
                                            [value]="items"
                                            >{{ items }}</mat-option
                                        >
                                    </mat-select>
                                    <mat-error
                                        *ngIf="
                                            toDoForm
                                                .get('item_type')
                                                .hasError('required')
                                        "
                                    >
                                        Please Select Item Type
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-span-1 sm:col-span-2">
                                <mat-form-field
                                    class="w-full"
                                    appearance="fill"
                                >
                                    <mat-label>Due Date</mat-label>
                                    <input
                                        matInput
                                        [matDatepicker]="picker"
                                        formControlName="due_date"
                                        id="due_date"
                                        [(ngModel)]="due_date"
                                        placeholder="Select"
                                        [min]="todayDate"
                                        readonly
                                    />
                                    <mat-error
                                        *ngIf="
                                            toDoForm
                                                .get('due_date')
                                                .hasError('required')
                                        "
                                    >
                                        Please Choose Due Date
                                    </mat-error>
                                    <mat-datepicker-toggle
                                        matSuffix
                                        [for]="picker"
                                    >
                                        <img
                                            matDatepickerToggleIcon
                                            style="width: 15px"
                                            src="../../../../../assets/calendar.svg"
                                            alt=""
                                        />
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="input-block">
                        <div class="grid grid-cols-1">
                            <div class="col-span-12 sm:col-span-1">
                                <mat-form-field
                                    class="w-full"
                                    appearance="fill"
                                >
                                    <mat-label>Description</mat-label>
                                    <textarea
                                        matInput
                                        formControlName="description"
                                        id="description"
                                        [(ngModel)]="description"
                                        rows="4"
                                        style="resize: none"
                                    ></textarea>
                                    <mat-error
                                        *ngIf="
                                            toDoForm
                                                .get('description')
                                                .hasError('required')
                                        "
                                    >
                                        Please Enter Description
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="input-block">
                        <div class="patient-link">
                            <label> Link to Patient </label>
                            <div
                                class="toggle-switch"
                                matTooltip="change patient status"
                            >
                                <input
                                    type="checkbox"
                                    hidden
                                    formControlName="link_to_patient"
                                    id="toggle"
                                    (change)="link_to_patients($event)"
                                    [(ngModel)]="link_to_patient"
                                />
                                <label
                                    class="toggle-slider"
                                    for="toggle"
                                ></label>
                            </div>
                        </div>
                    </div>

                    <div class="input-block" *ngIf="showPatient">
                        <div class="grid grid-cols-3">
                            <div class="col-span-1 sm:col-span-2">
                                <mat-form-field
                                    class="w-full"
                                    appearance="fill"
                                >
                                    <mat-label>Select Patient</mat-label>
                                    <mat-select
                                        formControlName="patient"
                                        id="patient"
                                        [(ngModel)]="patient"
                                        placeholder="Select"
                                    >
                                        <mat-option
                                            *ngFor="let patients of patientList"
                                            [value]="patients.uuid"
                                            >{{ patients.first_name }}
                                            {{ patients.last_name }}</mat-option
                                        >
                                    </mat-select>
                                    <mat-error
                                        *ngIf="
                                            toDoForm
                                                .get('patient')
                                                .hasError('required')
                                        "
                                    >
                                        Please Select Patient
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="input-block">
                        <p *ngIf="kittingError" style="color: red">
                            {{ kittingError }}
                        </p>
                    </div> -->
                    <div class="form-action justify-center">
                        <button
                            mat-stroked-button
                            mat-button
                            mat-dialog-close
                            class="cancel-btn"
                            (click)="cancelPopup()"
                        >
                            Cancel
                        </button>
                        <button
                            mat-flat-button
                            color="primary"
                            class="next-btn"
                        >
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>
