.patient-list-page {
    width: 100%;

    .section-filters {
        .search-field {
            display: flex;
            @media only screen and (max-width: 768px) {
                width: 100%;
            }
            ::ng-deep {
                .mat-form-field.mat-form-field-appearance-fill
                    .mat-form-field-wrapper
                    .mat-form-field-flex {
                    border-color: #8c9eb5 !important;
                }
            }
        }
        @media only screen and (max-width: 768px) {
            width: 54%;
            margin-left: 0px !important;
        }
        @media only screen and (max-width: 600px) {
            width: 100%;
            margin-top: 15px !important;
        }
    }
    .period-picker {
        width: 16.25rem;
        @media only screen and (max-width: 768px) {
            width: calc(46% - 20px);
            margin-right: 20px;
        }
        @media only screen and (max-width: 600px) {
            width: 100%;
            margin-right: 0px;
        }
        &.mat-form-field-should-float {
            ::ng-deep {
                .mat-date-range-input-separator {
                    opacity: 1;
                }
                .mat-date-range-input-start-wrapper {
                    max-width: calc(50% - 4px);
                    width: calc(35% - 4px);
                }
                .mat-date-range-input-end-wrapper {
                    flex: 1;
                }
            }
        }
        .mat-form-field-flex {
            min-height: 2.5rem;
        }
        ::ng-deep {
            .mat-form-field-flex {
                min-height: 2.5rem;
                border-radius: 10px;
                border-color: #657e9b !important;
                font-size: 0.875rem;
                color: #133257;
                font-weight: 500;
            }
            mat-datepicker-toggle {
                .mat-icon-button {
                    width: 30px !important;
                    min-width: 30px !important;
                    height: 30px !important;
                    min-height: 30px !important;
                }
            }
            .mat-form-field-wrapper {
                margin-bottom: 0;
            }
            .mat-date-range-input-separator {
                opacity: 0;
            }
            .mat-date-range-input-start-wrapper {
                max-width: 100px;
                width: 100px;
            }
            .mat-date-range-input-end-wrapper {
                flex: 1;
            }
        }
    }
}
/* Rounded sliders */
.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 18px;
    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f38f8f;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    &:before {
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        left: 3px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }
}
input {
    &:checked {
        + {
            .slider {
                background-color: #05c886;
                &:before {
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
                    transform: translateX(26px);
                }
            }
        }
    }
    &:focus {
        + {
            .slider {
                box-shadow: 0 0 1px #2196f3;
            }
        }
    }
}
.slider.round {
    border-radius: 34px;
    &:before {
        border-radius: 50%;
    }
}

.switch {
    height: 23px;
    margin-left: 5px;
}

.switch .slider:before {
    left: -11px;
    top: 4px;
}

.mat-paginator-outer-container {
    background: #f1f2f8;
}

.toggle-checkbox.toggle-sm input[type="checkbox"] + label,
.toggle-checkbox.toggle-sm input[type="checkbox"] + label:before {
    height: 20px;
    width: 35px;
}
.toggle-checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    background: #f38f8f;
}
.toggle-checkbox input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    transition: 0.4s ease;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s ease;
    height: 30px;
    width: 50px;
    border: 1px solid #e6ecf5;
    border-radius: 60px;
    background: #28c76f;
    cursor: pointer;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
}
.toggle-checkbox input[type="checkbox"] + label:before {
    content: "";
    position: absolute;
    display: block;
    transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
    -webkit-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
    -moz-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
    -o-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
    -ms-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
    height: 30px;
    width: 50px;
    background: #28c76f;
    top: 0;
    left: 0;
    border-radius: 30px;
}
.toggle-checkbox.toggle-sm input[type="checkbox"]:checked + label:after {
    left: 16px;
}
.toggle-checkbox.toggle-sm input[type="checkbox"] + label:after {
    height: 19px;
    width: 19px;
    background: white;
}
.toggle-checkbox input[type="checkbox"] + label:after {
    content: "";
    position: absolute;
    display: block;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 0 rgba(0, 0, 0, 0.04),
        0 4px 9px rgba(0, 0, 0, 0.13), 0 3px 3px rgba(0, 0, 0, 0.05);
    transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
    -webkit-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
    -moz-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
    -o-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
    -ms-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
    background: #f7f7f7;
    height: 28px;
    width: 28px;
    top: 0;
    left: 0;
    border-radius: 60px;
}

.background-color-red + label:before {
    background: #f38f8f !important;
}

.kitting-modal {
    padding: 0.9375rem 10px;
    .patient-info {
        align-items: center;
        border-bottom: 1px solid #f1f2f8;
        padding: 0px 0 20px;
        margin-bottom: 20px;
        .left-col {
            img {
                width: 55px;
                height: 55px;
                border-radius: 50%;
                margin-bottom: 8px;
            }
            .name {
                font-size: 16px;
                line-height: 1;
                font-weight: 500;
                color: rgba(77, 100, 128, 0.9);
                margin-bottom: 2px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .patient-id {
                font-size: 14px;
                color: rgba(77, 100, 128, 0.9);
            }
            @media (max-width: 600px) {
                margin-bottom: 10px;
            }
        }
        .right-col {
            border-left: 1px solid #bac529;
            @media (max-width: 600px) {
                border-left: 0;
                border-top: 1px solid #bac529;
            }
        }
        .patient-details {
            .details-col {
                padding: 10px 20px;
                label {
                    font-size: 14px;
                    color: #57607b;
                    margin-bottom: 2px;
                }
                p {
                    font-size: 14px;
                    color: #57607b;
                    font-weight: 600;
                    margin: 0;
                }
            }
        }
    }
    .modal-header {
        display: flex;
        align-items: center;
        margin-bottom: 1.5625rem;

        h2 {
            flex: 1;
            padding: 0 1.25rem;
            text-align: center;
            color: #5e5873;
            font-size: 1.125rem;
            font-weight: 700;
        }
    }
    .modal-body {
        .custom-radio-field {
            ::ng-deep {
                .mat-radio-label {
                    align-items: flex-start;
                }
            }
            .radio-btn-content {
                .radio-content {
                    display: flex;
                    align-items: center;
                    span {
                        font-size: 0.875rem;
                        color: #133257;
                        margin-bottom: 5px;
                        margin-right: 7px;
                    }
                    img {
                        width: 13px;
                        height: 13px;
                    }
                }
                p {
                    font-size: 0.75rem !important;
                    color: #133257 !important;
                    margin: 0 !important;
                }
            }
        }
        .input-block {
            .grid {
                gap: 0.3125rem 1.5625rem;
            }
            p {
                font-size: 0.875rem;
                font-weight: 600;
                color: #5e5873;
                margin-bottom: 0.9375rem;
            }
            mat-checkbox {
                color: #133257;
                font-size: 0.875rem;
                font-weight: 500;
            }
            mat-select {
                padding: 0.625rem 0;
                height: 38px;
            }
            mat-label {
                display: block;
                color: #5e5873 !important;
                font-size: 0.75rem !important;
                font-weight: 500 !important;
            }
            mat-radio-group {
                display: inline-block;
                margin-top: 0.625rem;
                margin-bottom: 16px;
                font-size: 0.875rem;
                color: #133257;
                font-weight: 500;
                mat-radio-button {
                    margin-right: 2.8125rem;
                }
            }
            mat-form-field {
                font-size: 0.875rem;
                color: #133257;
                font-weight: 500;
                ::ng-deep {
                    .mat-form-field-label-wrapper {
                        top: -20px !important;
                    }
                    .mat-form-field-wrapper {
                        margin-top: 16px !important;
                    }
                    .mat-form-field-label {
                        color: #5e5873 !important;
                        font-size: 0.75rem !important;
                    }
                    .mat-form-field-flex {
                        min-height: auto;
                        border-color: #707070 !important;
                    }
                    mat-datepicker-toggle {
                        button {
                            width: 38px;
                            height: 38px;
                            min-width: 38px;
                            min-height: 38px;
                        }
                    }
                }
                input {
                    padding: 0.625rem 0;
                }
            }
        }
    }
    .form-action {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 1.875rem;
        button {
            width: 8.75rem;
            height: 2.75rem;
            max-height: none;
            font-size: 0.875rem;
            font-weight: bold;
            padding: 0 2.5rem !important;
        }
        .cancel-btn {
            border: 2px solid #657e9b !important;
            color: #657e9b;
        }
        .next-btn {
            margin-left: 1rem;
        }
    }
}
.toDoForm mat-slide-toggle {
    margin: 8px 0;
    display: block;
}
.patient-link {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    label {
        font-size: 12px;
        color: #5e5873;
        font-weight: 600;
        margin: 0 18px 0 0;
    }
}

.opacitylow {
    opacity: 0.5;
}
