<ngx-spinner></ngx-spinner>
<div class="patient-list-page inner-scroll">
    <div class="section-header">
        <div *ngIf="Message != ''" class="toast-container {{ MessageClass }}">
                <p>{{ Message }}</p>
            </div>
        <h2>Organization</h2>
        <!-- <div class="header-items">
            <button mat-stroked-button class="outline-btn" matTooltip="Add an Account" (click)="addPatient()">Add an Account</button>
            <button mat-stroked-button class="outline-btn" matTooltip="Add Multiple Accounts">Add Multiple Accounts</button>
        </div> -->
    </div>
    <div class="section-filters">
        <div class="left-col">
            <div class="search-field">
                <mat-form-field>
                    <input matInput [ngModel]="search" name="search" (ngModelChange)="filterChange($event,'search')"
                        placeholder="Enter a search item" />
                    <mat-icon matSuffix>
                        <img src="../../../../assets/search.svg" alt="" />
                    </mat-icon>
                </mat-form-field>
            </div>
        </div>
        <div class="right-col">
            <button mat-button class="download-btn" matTooltip="Download List of Patients" (click)="exporttocsv()">
                <img matSuffix src="../../../../../assets/download.svg" alt="">
                Download List of Doctors
            </button>
        </div>
    </div>
    <div class="table-container">
        <div class="table-filter">
            <mat-button-toggle-group class="tab-filter" [value]="requestParam.status">
                <mat-button-toggle [ngClass]="{'mat-button-toggle-checked': requestParam.status === ''}"
                    (change)="filterChange($event.value,'status')" value=""  matTooltip="View All Organization">All Organization ({{ this.systemTotal }})
                </mat-button-toggle>
                <mat-button-toggle [ngClass]="{'mat-button-toggle-checked': requestParam.status === '1'}"
                    (change)="filterChange($event.value,'status')" value="active" matTooltip="View Active Organization">Active ({{ this.active }})
                </mat-button-toggle>
                <mat-button-toggle [ngClass]="{'mat-button-toggle-checked': requestParam.status === '0'}"
                    (change)="filterChange($event.value,'status')" value="inactive" matTooltip="View InActive Organization">Inactive ({{ this.inactive }})
                </mat-button-toggle>
            </mat-button-toggle-group>
            <div class="select-filter-container">
                <mat-form-field style="width: 10rem;">
                    <mat-label>Sort By</mat-label>
                    <mat-select (selectionChange)="filterChange($event.value,'type')" [(value)]="selected">
                        <mat-option value="asc"> Old to New </mat-option>
                        <mat-option value="desc"> New to Old </mat-option>

                    </mat-select>
                </mat-form-field>
            </div>
            <mat-button-toggle-group class="list-view-toggle" [value]="addClass">
                <mat-button-toggle matTooltip="Grid View" (change)="listViewChange($event.value)" value="grid-view">
                    <img src="../../../../../assets/grid-icon.svg" alt="">
                </mat-button-toggle>
                <mat-button-toggle matTooltip="List View" (change)="listViewChange($event.value)" value="list">
                    <img src="../../../../../assets/list-icon.svg" alt="">


                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <!-- add class  grid-view for grid view -->
            <ul *ngIf="addClass === 'grid-view'" class="data-table-list" [ngClass]="addClass">
                <li class="org-data-item" *ngFor="let data of response;let rowIndex = index;">
                    <div class="data-card-header">
                        <div class=" profile-col">
                            <img class="avatar" src="assets/images/avatars/profile.jpg" alt="">
                            <div class="profile-details">
                                <p>{{ data.staff_id }}</p>
                                <p class="name">{{ data.name }}</p>

                            </div>
                        </div>
                        <div class="action-col">
                            <img src="assets/icons/arrow.svg" alt="" />
                        </div>
                    </div>
                    <div class="data-card-body" style="width:100%">
                        <div class="organization-details-list">
                            <div class="details-item">
                                <label>No of Patients</label>
                                <p>{{ data.patientCount }}</p>
                            </div>
                            <div class="details-item">
                                <label>No of Staffs</label>
                                <p>{{ data.staffCount }}</p>
                            </div>
                            <div class="details-item">
                                <label>Phone</label>
                                <p>{{ data.mobile_number }}</p>
                            </div>
                            <div class="details-item">
                                <label>Email</label>
                                <p>{{ data.email_address }}</p>
                            </div>
                        </div>
                    </div>
                    <!--  <div class="data-card-footer">

                        <div class="view-btn">

                            <button mat-icon-button (click)="setData(data)">
                                <mat-icon>visibility</mat-icon>
                                <span class="text">View Details</span>
                            </button>
                        </div>
                    </div> -->
                </li>
            </ul>
            <mat-paginator *ngIf="addClass === 'grid-view'" style="background:#f1f2f8" [length]="total" [pageSize]="requestParam.pasgesize"
                [pageSizeOptions]="[5, 10, 25, 100]" (page)="getServerData($event)" aria-label="Select page" [pageIndex]="requestParam.current">
            </mat-paginator>
        <!--  -->
        <div *ngIf="addClass === 'list'" class="table-wrapper">
            <div class="table-block">

            <ngx-datatable class="material fullscreen" [rows]="response" [headerHeight]="$any('auto')"
                [footerHeight]="0" rowHeight="auto" [scrollbarH]="true" [externalPaging]="true"
                [count]="page1.totalElements" [offset]="page1.pageNumber" (page)="setPage($event)"
                (sort)="onSort($event)" [externalPaging]="true">
                <ngx-datatable-column name="Doctor ID" prop="staff_id">
                    <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>                        
                        <a class="patientView" (click)="setData(row)" matTooltip="view details">{{ row.staff_id }}</a>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Organization Name" [width]="200" prop="name" [sortable]="true">
                    <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        {{ row.name }}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Email" [width]="250" prop="email_address" [sortable]="true">
                    <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        {{row.email_address }}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Phone" prop="mobile_number" [sortable]="true">
                    <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        {{row.mobile_number }}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Region" prop="region" [sortable]="true">
                    <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        {{ row.region }}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Patients" prop="patientCount" [sortable]="true">
                    <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        {{ row.patientCount }}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Staffs" prop="staffCount" [sortable]="true">
                    <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        {{ row.staffCount }}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Actions" [sortable]="false">
                    <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <div class="action-col">
                            <a class="custom-btn-edit" md-icon-button value="{{value}}">
                                <!--  (click)="editDoctor(row)"  -->
                                <mat-icon matTooltip="view details" (click)="setData(row)">visibility</mat-icon>
                            </a>
                            <a class="custom-btn-edit" style="margin: 0 1.25rem;" md-icon-button value="{{value}}" (click)="getEditUser(row)">
                                <!--  (click)="editDoctor(row)"  -->
                                <mat-icon svgIcon="feather:edit" matTooltip="edit account"></mat-icon>
                            </a>
                            <div class="toggle-switch" matTooltip="change account status">
                                <input type="checkbox" hidden name="doctor_status_{{rowIndex + 1}}"
                                    id="toggle{{rowIndex}}" (change)="changeStatus(row)" [(ngModel)]="row.status" [checked]="row.status" />
                                <label class="toggle-slider" for="toggle{{rowIndex}}"></label>
                                <!-- <mat-slide-toggle name="doctor_status_{{rowIndex + 1}}"
                                  [checked]="row.status"
                                  (click)="onToggleChange($event)"
                                  (keyup.space)="onToggleChange($event)">
                                </mat-slide-toggle> -->
                            </div>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <!-- <ngx-datatable-footer>
            <ng-template 
                ngx-datatable-footer-template
                let-rowCount="rowCount"
                let-pageSize="pageSize"
                let-selectedCount="selectedCount"
                let-curPage="curPage"
                let-offset="offset"
                let-isVisible="isVisible">
                    <div class="page-count">
                    <span>
                    Showing {{(offset*pageSize)+1}} to {{ Math.min(curPage*pageSize, rowCount) }} of 
                    </span>
                    {{rowCount.toLocaleString()}} {{totalMessage}}
                    </div>
                    <datatable-pager
                        [pagerLeftArrowIcon]="'datatable-icon-left'"
                        [pagerRightArrowIcon]="'datatable-icon-right'"
                        [pagerPreviousIcon]="'datatable-icon-prev'"
                        [pagerNextIcon]="'datatable-icon-skip'"
                        [page]="curPage"
                        [size]="pageSize"
                        [count]="rowCount"
                        [hidden]="!((rowCount / pageSize) > 1)"
                        (change)="table.onFooterPage($event)">
                    </datatable-pager>
                </ng-template>
            </ngx-datatable-footer> -->
            </ngx-datatable>
            </div>
            <mat-paginator style="background: #f1f2f8;" [length]="total" [pageSize]="requestParam.pasgesize"
                [pageSizeOptions]="[5, 10, 25, 100]" (page)="getServerData($event)" aria-label="Select page" [pageIndex]="requestParam.current">
            </mat-paginator>
        </div>
    </div>
</div>

<ng-template #userDetailsDialog>

 <div class="dialog-content-wrapper ">
        <div class="add-patient-modal">
            <div class="modal-header">
                <h2>Organization Detail</h2>
                <button mat-icon-button class="modal-close-btn">
                    <mat-icon (click)="cancelPopup()">close</mat-icon>
                  </button>
              
            </div>
            <div class="modal-body">
                <form action="" [formGroup]="updateUserForm"  class="form-field-container">
                    <div class="grid grid-cols-6 ">
                        <div class="col-span-6 sm:col-span-3">
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>Name </mat-label>
                                <input matInput 
                                    formControlName="username"
                                    id="username"
                                    name = "username"
                                    [errorStateMatcher]="matcher" />
                                    <mat-error
                                *ngIf="
                                    updateUserForm
                                        .get('username')
                                        .hasError('required')
                                "
                            >
                                Please Enter User Name
                            </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>Email Address </mat-label>
                                <input matInput
                                formControlName="useremail"
                                    id="useremail"
                                    name = "useremail"
                                    [errorStateMatcher]="matcher" >
                                <mat-error
                                *ngIf="
                                    updateUserForm
                                        .get('useremail')
                                        .hasError('required')
                                "
                            >
                                Please Enter User Email
                            </mat-error>
                            <mat-error
                                *ngIf="
                                    updateUserForm
                                        .get('useremail')
                                        .hasError('pattern')
                                "
                            >
                                Please Enter Correct Email
                            </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>Qualification </mat-label>
                                <input matInput
                                formControlName="userqualification"
                                    id="userqualification"
                                    name = "userqualification"
                                    [errorStateMatcher]="matcher">
                                    <mat-error
                                *ngIf="
                                    updateUserForm
                                        .get('userqualification')
                                        .hasError('required')
                                "
                            >
                                Please Enter User Qualification
                            </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>Phone Number </mat-label>
                                <input matInput 
                                formControlName="usernumber"
                                    id="usernumber"
                                    name = "usernumber"
                                    [errorStateMatcher]="matcher">
                                <mat-error
                                *ngIf="
                                    updateUserForm
                                        .get('usernumber')
                                        .hasError('required')
                                "
                            >
                                Please Enter User Number
                            </mat-error>
                            <mat-error
                                        *ngIf="
                                            updateUserForm
                                                .get('usernumber')
                                                .hasError('pattern')
                                        "
                                    >
                                        Please Enter 10 digit Number
                                    </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>Department </mat-label>
                                <mat-select formControlName="departmentUser"
                                            id="departmentUser"
                                            [(ngModel)]="selectDepartment"
                                            [errorStateMatcher]="matcher" >
                                    <mat-option
                                    *ngFor="
                                        let specialization of specializationList
                                    "
                                    [value]="specialization.id"
                                >
                                    {{ specialization.name }}
                                </mat-option>
                                  </mat-select>
                                  <mat-error
                                *ngIf="
                                    updateUserForm
                                        .get('departmentUser')
                                        .hasError('required')
                                "
                            >
                                Please Select Department
                            </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                    <mat-form-field
                    class="w-full"
                    appearance="fill"
                >
                    <mat-label
                        >location</mat-label
                    >
                    <mat-select formControlName="locationUser"
                                id="locationUser"
                                [errorStateMatcher]="matcher"
                                [(ngModel)]="selectlocation" >
                        <!-- <mat-option value="1">Orlando</mat-option> -->
                        <mat-option
                                    *ngFor="let location of locationList"
                                    [value]="location.id"
                                >
                                    {{ location.name }}
                                </mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="
                            updateUserForm
                                .get('locationUser')
                                .hasError('required')
                        "
                    >
                        Please Select Location
                    </mat-error>
                </mat-form-field>
                </div>
                    </div>
                    <div class="form-action justify-center flex">
                        <button (click)="updateUserProfile()" mat-stroked-button class="outline-btn">Update</button>
                    </div>
            </form>
             
            </div>
        </div>
    </div>   
</ng-template>