<div class="auth-page-wrapper verification-page">
    <div class="logo-container">
        <img src="../../../../assets/logo.svg" alt="" />
    </div>
    <div class="auth-form-container">
        <div class="auth-form">
            <div class="container-header">
                <h2>
                    Verification
                    <img src="../../../../assets/verification.svg" alt="" />
                </h2>
                <p>Verify Your Email and Phone number</p>
            </div>
            <fuse-alert
                class="mt-8 -mb-4"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [dismissible]="true"
                [type]="alert.type"
                [@shake]="alert.type === 'error'"
            >
                {{ alert.message }}
            </fuse-alert>
            <form [ngStyle]="{'margin-top':showAlert?'20px':'0px'}" [formGroup]="verificationForm" autocomplete="off">
                <p class="input-label">
                    Enter OTP is sent to the mail id
                    <span>
                        {{ subStringEmail }}
                    </span>
                </p>
                <mat-form-field>
                    <input
                        id="mail_otp"
                        matInput
                        class="arrow-hide"
                        autocomplete="off"
                        formControlName="mail_otp"
                        placeholder="Enter OTP"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        type="number"
                        maxlength="6"
                    />
                    <mat-error
                        *ngIf="
                            verificationForm
                                .get('mail_otp')
                                .hasError('required')
                        "
                    >
                        Email verification code is required
                    </mat-error>
                </mat-form-field>
                <p class="input-label">
                    Enter OTP is sent to the phone number
                    <span>
                        {{ subStringMobile }}
                    </span>
                </p>
                <mat-form-field>
                    <input
                        id="sms_otp"
                        matInput
                        class="arrow-hide"
                        autocomplete="off"
                        formControlName="sms_otp"
                        placeholder="Enter OTP"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        type="number"
                        maxlength="6"
                    />

                    <mat-error
                        *ngIf="
                            verificationForm.get('sms_otp').hasError('required')
                        "
                    >
                        Mobile Number verification code is required
                    </mat-error>
                </mat-form-field>
                <!-- Submit button -->
                <button
                    mat-flat-button
                    [disabled]="verificationForm.disabled"
                    (click)="submitCode()"
                    color="primary"
                    class="submit-btn"
                    type="submit"
                >
                    <span *ngIf="!verificationForm.disabled"> Submit </span>
                    <mat-progress-spinner
                        *ngIf="verificationForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"
                    ></mat-progress-spinner>
                </button>
            </form>
            <div class="resent-container">
                <button
                    mat-stroked-button
                    class="resent-btn"
                    (click)="resendCode()"
                >
                    <span> Resend </span>
                    <mat-progress-spinner
                        *ngIf="verificationForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"
                    ></mat-progress-spinner>
                </button>
            </div>
        </div>
    </div>
</div>
