<div class="auth-page-wrapper">
    <div class="logo-container">
        <img src="../../../../assets/logo.svg" alt="" />
    </div>
    <div class="auth-form-container">
        <div class="auth-form">
            <h2>Register</h2>
            <form [formGroup]="signUpForm">
                <mat-form-field>
                    <input
                        id="name"
                        matInput
                        formControlName="name"
                        placeholder="Name"
                    />
                    <mat-error
                        *ngIf="signUpForm.get('name').hasError('required')"
                    >
                        Name is required
                    </mat-error>
                </mat-form-field>

                <!-- Email field -->
                <mat-form-field>
                    <input
                        id="email_address"
                        matInput
                        formControlName="email_address"
                        placeholder="Email address"
                    />
                    <mat-error
                        *ngIf="
                            signUpForm.get('email_address').hasError('required')
                        "
                    >
                        Email address is required
                    </mat-error>
                    <mat-error
                        *ngIf="
                            signUpForm.get('email_address').hasError('email')
                        "
                    >
                        Please enter a valid email address
                    </mat-error>
                    <mat-error
                        *ngIf="
                            signUpForm.get('email_address').hasError('exists')
                        "
                    >
                        Email address are already exists
                    </mat-error>
                </mat-form-field>
                <!-- Email field -->
                <div class="col-span-2 sm:col-span-1">
                                                <mat-form-field
                                                    class="w-full"
                                                    appearance="fill"
                                                >
                                                    <input
                                                        mask="+0000"
                                                        matInput
                                                        formControlName="country_code"
                                                        id="country_code"
                                                        placeholder="Country Code"
                                                    />
                                                    <mat-error
                                                        *ngIf="
                                                            signUpForm
                                                                .get('country_code')
                                                                .hasError('required')
                                                        "
                                                    >
                                                        Please Enter Country Code
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                <mat-form-field>
                    <input
                        id="mobile_number"
                        matInput
                        class="arrow-hide"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        type="number"
                        maxlength="10"
                        formControlName="mobile_number"
                        placeholder="Phone Number"
                    />
                    <mat-error
                        *ngIf="
                            signUpForm.get('mobile_number').hasError('required')
                        "
                    >
                        Phone Number is required
                    </mat-error>
                    <mat-error
                        *ngIf="
                            signUpForm.get('mobile_number').hasError('invalid')
                        "
                    >
                        Please enter a valid phone number
                    </mat-error>
                    <mat-error
                        *ngIf="
                            signUpForm.get('mobile_number').hasError('max')
                        "
                    >
                        Phone number maximum length should be 10 digit
                    </mat-error>
                    <mat-error
                        *ngIf="
                            signUpForm.get('mobile_number').hasError('exists')
                        "
                    >
                        Phone number is already exists
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input
                        id="password"
                        matInput
                        type="password"
                        formControlName="password"
                        #passwordField
                        placeholder="Password"
                    />
                    <button
                        mat-icon-button
                        type="button"
                        (click)="
                            passwordField.type === 'password'
                                ? (passwordField.type = 'text')
                                : (passwordField.type = 'password')
                        "
                        matSuffix
                    >
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"
                        ></mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"
                        ></mat-icon>
                    </button>
                    <mat-error
                        *ngIf="signUpForm.get('password').hasError('required')"
                    >
                        Password is required
                    </mat-error>
                    <mat-error
                        *ngIf="signUpForm.get('password').hasError('patternValid')"
                    >
                        Password should contain alpha numberic and minimum 8
                        characters
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input
                        id="account_number"
                        placeholder="Account Number"
                        matInput
                        formControlName="account_number"
                    />
                    <mat-error
                        *ngIf="
                            signUpForm
                                .get('account_number')
                                .hasError('required')
                        "
                    >
                        Account Number is required
                    </mat-error>
                    <mat-error
                        *ngIf="
                            signUpForm.get('account_number').hasError('invalid')
                        "
                    >
                        Please enter a valid account number
                    </mat-error>
                </mat-form-field>
                <div class="captacha">
                    <!-- 6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI localhost  -->
                    <!-- 6Lexx9sbAAAAAJdkepCvtsAuKdIkfOYLl1mJbypT Configured -->
                    <re-captcha
                        formControlName="recaptcha"
                        siteKey="6Lexx9sbAAAAAJdkepCvtsAuKdIkfOYLl1mJbypT"
                        (resolved)="resolved($event)"
                        (error)="onError($event)"
                    ></re-captcha>
                    <mat-error *ngIf="signUpForm.get('recaptcha').value == ''">
                        Recaptcha is required
                    </mat-error>
                  <!--   <mat-error
                        *ngIf="signUpForm.get('recaptcha').invalid && (signUpForm.get('recaptcha').dirty || signUpForm.get('recaptcha').touched) && signUpForm.get('recaptcha').hasError('required')"
                    >
                        Recaptcha is required
                    </mat-error> -->
                </div>
                <div class="accept terms-link">
                    <p>By Logging in you accept our</p>
                    <p>
                        <a (click)="openPopup(0)" >Terms & Conditions</a> and<a (click)="openPopup(1)"> Privacy Policy</a>
                    </p>
                    <!-- <mat-error style="text-align:left" *ngIf="signUpForm.get('agree').hasError('agree')">
                        Please agree the terms of conditions and privacy policy
                    </mat-error> -->
                </div>
                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large w-full mt-6"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="signUpForm.disabled"
                    (click)="signUp()"
                    class="submit-btn"
                >
                    <span *ngIf="!signUpForm.disabled"> Register </span>
                    <mat-progress-spinner
                        *ngIf="signUpForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"
                    ></mat-progress-spinner>
                </button>
                <hr class="separator" />
                <div class="create-user-container">
                    <label>Existing User?</label>
                    <button
                        color="primary"
                        mat-flat-button
                        [routerLink]="['/sign-in']"
                        class="register-btn"
                    >
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
