.patient-list-page{
    width: 100%;
}
.mat-paginator-container{
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}
.no-data-available{
    width: 100%;
    text-align: center;
}
.add-patient-modal {
    width: 39.375rem;
    max-width: 100%;
    padding: 0.9375rem 1.5625rem;
    .modal-header {
        display: flex;
        align-items: center;
        margin-bottom: 1.5625rem;
        .back-btn {
            padding: 0;
            display: inline-flex;
            align-items: center;
            font-size: 0.9375rem;
            color: #5e5873;
            font-weight: 500;
        }
        h2 {
            flex: 1;
            padding: 0 1.25rem;
            text-align: center;
            color: #5e5873;
            font-size: 1.125rem;
            font-weight: 700;
        }
        .index {
            color: rgba(94, 88, 115, 0.7);
            font-size: 0.9375rem;
            strong {
                font-weight: bold;
            }
        }
    }
    .modal-body {
        .custom-radio-field {
            ::ng-deep {
                .mat-radio-label {
                    align-items: flex-start;
                }
            }
            .radio-btn-content {
                .radio-content {
                    display: flex;
                    align-items: center;
                    span {
                        font-size: 0.875rem;
                        color: #133257;
                        margin-bottom: 5px;
                        margin-right: 7px;
                    }
                    img {
                        width: 13px;
                        height: 13px;
                    }
                }
                p {
                    font-size: 0.75rem !important;
                    color: #133257 !important;
                    margin: 0 !important;
                }
            }
        }
        .input-block {
            .grid {
                gap: 0.3125rem 1.5625rem;
            }
            p {
                font-size: 0.875rem;
                font-weight: 600;
                color: #5e5873;
                margin-bottom: 0.9375rem;
            }
            mat-checkbox {
                color: #133257;
                font-size: 0.875rem;
                font-weight: 500;
            }
            mat-select {
                padding: 0.625rem 0;
            }
            mat-label {
                display: block;
                color: #5e5873 !important;
                font-size: 0.75rem !important;
                font-weight: 500 !important;
            }
            mat-radio-group {
                display: inline-block;
                margin-top: 0.625rem;
                margin-bottom: 16px;
                font-size: 0.875rem;
                color: #133257;
                font-weight: 500;
                mat-radio-button {
                    margin-right: 2.8125rem;
                }
            }
            mat-form-field {
                font-size: 0.875rem;
                color: #133257;
                font-weight: 500;
                ::ng-deep {
                    .mat-form-field-label-wrapper {
                        top: -20px !important;
                    }
                    .mat-form-field-wrapper {
                        margin-top: 16px !important;
                    }
                    .mat-form-field-label {
                        color: #5e5873 !important;
                        font-size: 0.75rem !important;
                    }
                    .mat-form-field-flex {
                        min-height: auto;
                        border-color: #707070 !important;
                    }
                }
                input {
                    padding: 0.625rem 0;
                }
            }
        }
    }
}
.form-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.875rem;
    .cancel-btn {
        border: 2px solid #657e9b !important;
        font-size: 0.875rem;
        color: #657e9b;
        font-weight: bold;
        padding: 0 2.5rem !important;
    }
    .next-btn {
        width: 14.375rem;
        font-weight: bold;
        font-size: 0.875rem;
        ::ng-deep {
            .mat-button-wrapper {
                width: 100%;
                mat-icon {
                    position: absolute;
                    right: 0;
                }
            }
        }
    }
}
.summary-block {
    width: 39.375rem;
    max-width: 100%;
    padding: 0.9375rem 1.5625rem;
    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5625rem;

        h2 {
            color: #5e5873;
            font-size: 1.125rem;
            font-weight: 700;
        }
        .edit-btn {
            border: 2px solid #657e9b !important;
            font-size: 0.875rem;
            color: #657e9b;
            font-weight: bold;
        }
    }
    .modal-body {
        label {
            font-size: 0.875rem;
            color: #57607b;
        }
        p {
            font-size: 0.875rem;
            font-weight: 600;
            color: #57607b;
        }
    }
}


layout router-outlet{
	display:block;
}

#file{
    display: none;
}
p.success{
    color: green;
}
p.error{
    color: red;
}
.shippingAddress{
    margin-top: 20px;
}
.alertImage{
    width: 20px;
    float: left;
    margin-right: 8px;
}
.excludeHub{
    margin-left: 70px;
}
.reportedIssue{
    padding-left: 50px;
}
.patientName{
  cursor: pointer;
  color: #133257 !important;
  font-weight: bold !important;
}