<ngx-spinner></ngx-spinner>
<div class="patient-list-page inner-scroll">
    <div class="section-header">
        <h2>Kitting</h2>
        <div class="header-items">
            <!-- <button mat-stroked-button class="outline-btn"  matTooltip="Add patients" (click)="addPatient()">Add a
                Patient</button>
            <button mat-stroked-button class="outline-btn" matTooltip="Add Multiple Patients">Add Multiple
                Patient</button> -->
        </div>
    </div>
    <div class="section-filters">
        <div class="left-col">
            <div class="search-field">
                <mat-form-field>
                    <input matInput [ngModel]="search" name="search" (ngModelChange)="filterChange($event,'search')"
                        placeholder="Enter a search item" />
                    <mat-icon matSuffix>
                        <img src="../../../../assets/search.svg" alt="" />
                    </mat-icon>
                </mat-form-field>
            </div>
        </div>
       
    </div>
    <div class="table-container">
        <!-- <div class="table-filter">
            <mat-button-toggle-group class="tab-filter" [value]="requestParam.status">
                <mat-button-toggle matTooltip="View All Patients" [ngClass]="{'mat-button-toggle-checked': requestParam.status === ''}"
                    (change)="filterChange($event.value,'status')" value="">All Patients ({{ this.systemTotal }})
                </mat-button-toggle>
                <mat-button-toggle matTooltip="View Active Patients" [ngClass]="{'mat-button-toggle-checked': requestParam.status === '1'}"
                    (change)="filterChange($event.value,'status')" value="active">Active ({{ this.active }})
                </mat-button-toggle>
                <mat-button-toggle matTooltip="View InActive Patients" [ngClass]="{'mat-button-toggle-checked': requestParam.status === '0'}"
                    (change)="filterChange($event.value,'status')" value="inactive">Inactive ({{ this.inactive }})
                </mat-button-toggle>
            </mat-button-toggle-group>
            <div class="select-filter-container">
                <mat-form-field style="width: 10rem;">
                    <mat-label>Sort By</mat-label>
                    <mat-select (selectionChange)="filterChange($event.value,'type')" [(value)]="selected">
                        <mat-option value="asc"> Ascending </mat-option>
                        <mat-option value="desc"> Descending </mat-option>

                    </mat-select>
                </mat-form-field>

                <mat-form-field style="width: 15.625rem;">
                    <mat-label>Blood pressure (mmHg)</mat-label>

                    <mat-select (selectionChange)="filterChange($event.value,'bp')">
                        <mat-option value="Avg of 10"> Avg of:10 readings </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field style="width: 11.25rem;">
                    <mat-label>Pulse (bpm)</mat-label>
                    <mat-select (selectionChange)="filterChange($event.value,'pulse')">
                        <mat-option value="bpm"> Avg of:10 readings </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <mat-button-toggle-group class="list-view-toggle" [value]="addClass">
                <mat-button-toggle  matTooltip="Grid View" (change)="listViewChange($event.value)" value="grid-view">
                    <img src="../../../../../assets/grid-icon.svg" alt="">
                </mat-button-toggle>
                <mat-button-toggle matTooltip="List View" (change)="listViewChange($event.value)" value="list">
                    <img src="../../../../../assets/list-icon.svg" alt="">


                </mat-button-toggle>
            </mat-button-toggle-group>
        </div> -->
        <!-- add class  grid-view for grid view -->
            <!--  -->
        <div *ngIf="addClass === 'list'" class="table-wrapper">
            <div class="table-block">

                <ngx-datatable class="material fullscreen" [rows]="(serverResponse | async) || []"
                    [headerHeight]="$any('auto')" [footerHeight]="0" rowHeight="auto" [scrollbarH]="true"
                    [externalPaging]="true" [count]="page1.totalElements" [offset]="page1.pageNumber" [limit]="page1.size"
                    (page)="setPage($event)" (sort)="onSort($event)">
                    <ngx-datatable-column name="ID" [sortable]="false" [width]="150">
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template >
                            #{{row.patient_id}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [cellClass]="'text-hidden'" name="Patient Name" [width]="200">
                        <ng-template  let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            <span
                            matTooltip="{{row.first_name}} {{row.last_name}}"
                            >

                                {{row.first_name}} {{row.last_name}}
                            </span>
                        </ng-template>
                    </ngx-datatable-column>  
    
                    <ngx-datatable-column name="Patient Contact" [width]="220" [sortable]="false">
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            <p class="email">{{row.patient_email}}</p>
                            <p class="number">{{row.mobile_phone}}</p>
                        </ng-template>
                    </ngx-datatable-column>
    
                    <ngx-datatable-column name="Device Name" [sortable]="false" [width]="170">
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            {{row.deviceName}}
                        </ng-template>
                    </ngx-datatable-column>
    
                    <ngx-datatable-column name="Address" [sortable]="false" [width]="150">
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            <p class="address">

                                {{row.address_line_1}}, {{row.address_line_2}},{{row.city}},{{row.state}},{{row.zip}}
                            </p>
                        </ng-template>
                    </ngx-datatable-column>
    
                    <ngx-datatable-column name="Tracking ID" [sortable]="false" [width]="200">
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            <p class="trackid" *ngIf="row.tracking_id != 'N/A'">
                                <a href="{{row.tracking_id}}" target="_blank">Link</a>
                            </p>
                        </ng-template>
                    </ngx-datatable-column>
    
                    <ngx-datatable-column name="Status" [sortable]="false" [width]="180">
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            <!-- <mat-form-field class="status-select" appearance="fill">
                                <mat-select>
                                    <mat-option value="sent" style="color:#2D76DE">Sent</mat-option>
                                    <mat-option value="sent" style="color:#EA5455">Not Sent</mat-option>
                                    <mat-option value="notsent" style="color:#2AC770">Delivered</mat-option>


                                </mat-select>
                              </mat-form-field> -->
                              <p>{{row.status}}</p>
                        </ng-template>
                    </ngx-datatable-column>
    
                    <!-- <ngx-datatable-column name="Actions" [sortable]="false">
                        <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            <div class="action-col">
                                <a class="custom-btn-edit" md-icon-button value="{{value}}">
                                    <mat-icon matTooltip="view patient">visibility</mat-icon>
                                </a>
                                <a class="custom-btn-edit" style="margin: 0 1.25rem;" md-icon-button value="{{value}}">
                                    <mat-icon svgIcon="feather:edit" matTooltip="edit patient"></mat-icon>
                                </a>
                                <div class="toggle-switch" matTooltip="change patient status">
                                    <input type="checkbox"  hidden name="doctor_status_{{rowIndex + 1}}"
                                        id="toggle{{rowIndex}}" (change)="changeStatus(row)" [checked]="row.status" />
                                    <label class="toggle-slider" for="toggle{{rowIndex}}"></label>
                                </div>
                            </div>
                        </ng-template>
                    </ngx-datatable-column> -->
                    <!-- <ngx-datatable-footer>
                <ng-template 
                    ngx-datatable-footer-template
                    let-rowCount="rowCount"
                    let-pageSize="pageSize"
                    let-selectedCount="selectedCount"
                    let-curPage="curPage"
                    let-offset="offset"
                    let-isVisible="isVisible">
                        <div class="page-count">
                        <span>
                        Showing {{(offset*pageSize)+1}} to {{ Math.min(curPage*pageSize, rowCount) }} of 
                        </span>
                        {{rowCount.toLocaleString()}} {{totalMessage}}
                        </div>
                        <datatable-pager
                            [pagerLeftArrowIcon]="'datatable-icon-left'"
                            [pagerRightArrowIcon]="'datatable-icon-right'"
                            [pagerPreviousIcon]="'datatable-icon-prev'"
                            [pagerNextIcon]="'datatable-icon-skip'"
                            [page]="curPage"
                            [size]="pageSize"
                            [count]="rowCount"
                            [hidden]="!((rowCount / pageSize) > 1)"
                            (change)="table.onFooterPage($event)">
                        </datatable-pager>
                    </ng-template>
                </ngx-datatable-footer> -->
                </ngx-datatable>
            </div>
            <mat-paginator style="background: #f1f2f8;" [length]="total" [pageSize]="requestParam.pasgesize"
                [pageSizeOptions]="[5, 10, 25, 100]" (page)="getServerData($event)" aria-label="Select page">
            </mat-paginator>
        </div>
    </div>
</div>