<ngx-spinner></ngx-spinner>
<div class="user-profile-page inner-scroll">
    <div class="section-header">
        <h2>My Account</h2>
        <div *ngIf="Message != ''" class="toast-container {{ MessageClass }}">
                <p>{{ Message }}</p>
            </div>
        <div class="header-items">
            <button mat-stroked-button class="outline-btn"  matTooltip="Change Password"
            (click)="openChangePassword()"
            
            >Change Password</button>
        </div>
    </div>
    <div class="section-body">
        <mat-button-toggle-group  class="profile-tab" [value]="DefaultTab">
            <mat-button-toggle value="MyProfile" (click)="changeTab(1)">My Profile</mat-button-toggle>
            <mat-button-toggle value="MyTeam" (click)="changeTab(2)">My Team</mat-button-toggle>
            <mat-button-toggle value="ManageRoles" (click)="changeTab(3)">Manage Roles</mat-button-toggle>
          </mat-button-toggle-group>
          <!-- my profile start -->
         <div class="grid grid-cols-6 my-profile-block" *ngIf="tabVal==1">

             <div class="profile-tab-container  col-span-6 md:col-span-4">
                <div class="my-profile-header">
                    <div class="profile-avatar">
                        <!-- <input type="file" name="" id="avatar" hidden> -->
                        <label for="avatar">
                            <img src="assets/images/avatars/profile.jpg" alt="">
                        </label>
                    </div>
                    <!-- <div class="slider-input">
                        <label class="label"
                            >Receive patient health alerts?</label
                        >
                        <div class="toggle-switch">
                            <input
                                type="checkbox"
                                hidden
                                id="toggle"
                                (change)="checkValue(isChecked?'1':'0')"
                                [(ngModel)]="isChecked"
                            />
                            <label
                                class="toggle-slider"
                                for="toggle"
                            ></label>
                        </div>
                    </div> -->
                </div>   
                <div class="my-profile-body">
                    <form action="" [formGroup]="updateUserForm"  class="form-field-container">
                            <div class="grid grid-cols-6 ">
                                <div class="col-span-6 sm:col-span-3">
                                    <mat-form-field class="w-full" appearance="fill">
                                        <mat-label>Name </mat-label>
                                        <input matInput 
                                            formControlName="username"
                                            id="username"
                                            name = "username"
                                            [errorStateMatcher]="matcher" />
                                            <mat-error
                                        *ngIf="
                                            updateUserForm
                                                .get('username')
                                                .hasError('required')
                                        "
                                    >
                                        Please Enter User Name
                                    </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-span-6 sm:col-span-3">
                                    <mat-form-field class="w-full" appearance="fill">
                                        <mat-label>Email Address </mat-label>
                                        <input matInput
                                        formControlName="useremail"
                                            id="useremail"
                                            name = "useremail"
                                            [errorStateMatcher]="matcher" [disabled]="disabled" >
                                        <mat-error
                                        *ngIf="
                                            updateUserForm
                                                .get('useremail')
                                                .hasError('required')
                                        "
                                    >
                                        Please Enter User Email
                                    </mat-error>
                                    <mat-error
                                        *ngIf="
                                            updateUserForm
                                                .get('useremail')
                                                .hasError('pattern')
                                        "
                                    >
                                        Please Enter Correct Email
                                    </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-span-6 sm:col-span-3">
                                    <mat-form-field class="w-full" appearance="fill">
                                        <mat-label>Qualification </mat-label>
                                        <input matInput
                                        formControlName="userqualification"
                                            id="userqualification"
                                            name = "userqualification"
                                            [errorStateMatcher]="matcher">
                                            <mat-error
                                        *ngIf="
                                            updateUserForm
                                                .get('userqualification')
                                                .hasError('required')
                                        "
                                    >
                                        Please Enter User Qualification
                                    </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-span-6 sm:col-span-3">
                                    <mat-form-field class="w-full" appearance="fill">
                                        <mat-label>Phone Number </mat-label>
                                        <input matInput 
                                        formControlName="usernumber"
                                            id="usernumber"
                                            name = "usernumber"
                                            [errorStateMatcher]="matcher">
                                        <mat-error
                                        *ngIf="
                                            updateUserForm
                                                .get('usernumber')
                                                .hasError('required')
                                        "
                                    >
                                        Please Enter User Number
                                    </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-span-6 sm:col-span-3">
                                    <mat-form-field class="w-full" appearance="fill">
                                        <mat-label>Department </mat-label>
                                        <mat-select formControlName="departmentUser"
                                                    id="departmentUser"
                                                    [(ngModel)]="selectDepartment"
                                                    [errorStateMatcher]="matcher" >
                                            <mat-option
                                            *ngFor="
                                                let specialization of specializationList
                                            "
                                            [value]="specialization.id"
                                        >
                                            {{ specialization.name }}
                                        </mat-option>
                                          </mat-select>
                                          <mat-error
                                        *ngIf="
                                            updateUserForm
                                                .get('departmentUser')
                                                .hasError('required')
                                        "
                                    >
                                        Please Select Department
                                    </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-span-6 sm:col-span-3">
                            <mat-form-field
                            class="w-full"
                            appearance="fill"
                        >
                            <mat-label
                                >Location</mat-label
                            >
                            <mat-select formControlName="locationUser"
                                        id="locationUser"
                                        [errorStateMatcher]="matcher"
                                        [(ngModel)]="selectlocation" >
                                <!-- <mat-option value="1">Orlando</mat-option> -->
                                <mat-option
                                            *ngFor="let location of locationList"
                                            [value]="location.id"
                                        >
                                            {{ location.name }}
                                        </mat-option>
                              </mat-select>
                              <mat-error
                                *ngIf="
                                    updateUserForm
                                        .get('locationUser')
                                        .hasError('required')
                                "
                            >
                                Please Select Location
                            </mat-error>
                        </mat-form-field>
                        </div>
                                <div class="col-span-6 sm:col-span-3">
                                    <mat-form-field class="w-full" appearance="fill">
                                        <mat-label>Time Zone </mat-label>
                                        <mat-select formControlName="timezone"
                                                    id="timezone"
                                                    [(ngModel)]="selectedtimezone"
                                                    [errorStateMatcher]="matcher" >
                                            <mat-option
                                            *ngFor="
                                                let timezone of timezoneList
                                            "
                                            [value]="timezone.id"
                                        >
                                            {{ timezone.name }}
                                        </mat-option>
                                          </mat-select>
                                          <mat-error
                                        *ngIf="
                                            updateUserForm
                                                .get('timezone')
                                                .hasError('required')
                                        "
                                    >
                                        Please Select Time zone
                                    </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-span-6 sm:col-span-3">
                                    <mat-form-field class="w-full" appearance="fill">
                                        <mat-label>Choose when patients become inactive </mat-label>
                                        <mat-select formControlName="deactiveDays"
                                                    id="deactiveDays"
                                                    [(ngModel)]="selectdeactiveDays"
                                                    [errorStateMatcher]="matcher" >
                                            <mat-option
                                            *ngFor="
                                                let days of daysList
                                            "
                                            [value]="days.id"
                                        >
                                            {{ days.name }}
                                        </mat-option>
                                          </mat-select>
                                          <mat-error
                                        *ngIf="
                                            updateUserForm
                                                .get('deactiveDays')
                                                .hasError('required')
                                        "
                                    >
                                        Please Inactive Date
                                    </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-action">
                                <button (click)="updateUserProfile()" mat-stroked-button class="outline-btn">Update</button>
                            </div>
                    </form>
                </div>  
            </div>             
        </div>  

              <!-- My profile end -->
              <!-- My team start -->
              <div class="grid grid-cols-6 my-team-block gap-6 " *ngIf="tabVal==2">
             <div class="profile-tab-container col-span-6 lg:col-span-4 flex flex-col" >
                 <div class="my-team-header">
                    <h4>My Team</h4>
                    <div class="search-field">
                        <mat-form-field style="width: 240px;">
                            <input matInput   name="search" [ngModel]="search"
                                placeholder="Search" (ngModelChange)="searchprofile($event)" />
                            <mat-icon matSuffix>
                                <img src="../../../../assets/search.svg" alt="" />
                            </mat-icon>
                        </mat-form-field>
                    </div>
                 </div>

                     <div class="my-team-body ">
                         <div  class="table-wrapper">
                             <div class="table-block">
                                    <ngx-datatable
                                        class="material fullscreen"
                                        [rows]="(serverResponse | async) || []"
                                        [headerHeight]="$any('auto')"
                                        [footerHeight]="0"
                                        rowHeight="auto"
                                        [scrollbarH]="true"
                                        [externalPaging]="true"
                                        [count]="page1.totalElements"
                                        [offset]="page1.pageNumber"
                                        [limit]="page1.size"
                                        (page)="setPage($event)"
                                        (sort)="onSort($event)"
                                    >
                                        <ngx-datatable-column
                                            name="Staff Name"
                                            [sortable]="true"
                                            [width]="150"
                                        >
                                            <ng-template
                                                let-row="row"
                                                let-rowIndex="rowIndex"
                                                ngx-datatable-cell-template
                                            >
                                                {{row.name}}
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column
                                            name="Role"
                                            [sortable]="true"
                                            [width]="150"
                                        >
                                            <ng-template
                                                let-row="row"
                                                let-rowIndex="rowIndex"
                                                ngx-datatable-cell-template
                                            >
                                                {{row.role}}
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column
                                            name="Department"
                                            [sortable]="true"
                                            [width]="150"
                                        >
                                            <ng-template
                                                let-row="row"
                                                let-rowIndex="rowIndex"
                                                ngx-datatable-cell-template
                                            >
                                                {{row.department}}
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column
                                            name="Facility Location"
                                            [sortable]="true"
                                            [width]="200"
                                        >
                                            <ng-template
                                                let-row="row"
                                                let-rowIndex="rowIndex"
                                                ngx-datatable-cell-template
                                            >
                                                {{row.region}}
                                            </ng-template>
                                        </ngx-datatable-column>
                                    </ngx-datatable>
                                </div>
                                <mat-paginator
                                    style="background: #f1f2f8"
                                    [length]="total"
                                    [pageSize]="requestParam.pasgesize"
                                    [pageSizeOptions]="[5, 10, 25, 100]"
                                    (page)="getServerData($event)"
                                    aria-label="Select page"
                                >
                                </mat-paginator>
               
                         </div>
                     </div>
                </div>
                <div class="col-span-6 lg:col-span-2">
                    <div class="invite-block">
                        <div class="invite-block-header">
                            <h3>Invited Members</h3>
                            <button mat-flat-button color="primary" matTooltip="Invite Member"
            (click)="openInviteMember()">
                                    <img src="../../../../../assets/plus.svg" alt="">
                                
                                Invite</button>
                        </div>
                        <div class="invite-block-body">
                            <ul class="invite-list">
                                <li *ngFor="let item of invitedList">
                                    <div class="user-detail">
                                        <div class="user-info">
                                            <span class="email info-col">{{item.email}}</span><i class="info-col">{{item.region}}</i>
                                        </div>
                                        <div class="user-info">
                                            <span class="team info-col">{{item.role}}</span>
                                            <span class="role info-col">{{item.department}}</span>
                                        </div> 
                                    </div>
                                    <div class="invite-action">
                                        <button mat-icon-button class="forward-btn">
                                            <mat-icon (click)="reInviteDelete('reinvite',item)">
                                                <img src="../../../../../assets/forward.svg" alt="">
                                            </mat-icon>
                                          </button>
                                          <button mat-icon-button class="cancel-btn">
                                            <mat-icon (click)="reInviteDelete('delete',item)">
                                                <img src="../../../../../assets/cancel.svg" alt="">
                                            </mat-icon>
                                          </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
              <!-- My team end -->
                <!-- manage role start -->
                <div class="manage-user-block" *ngIf="tabVal==3">
                    <h4>Manage Roles</h4>
                    <div class="manage-user-container">
                        <div class="role-list">
                            <ul>
                                <!-- <li>
                                    <span>Admin</span>
                                    <img class="icon" src="../../../../../assets/forward-arrow.svg" alt="">
                                </li> -->
                                <li class="{{tab1}}" (click)="toggleEvent(3,'tab1')">
                                    <span>Physician</span>
                                    <img class="icon" src="../../../../../assets/forward-arrow.svg" alt="">

                                </li>
                                <li class="{{tab2}}" (click)="toggleEvent(4,'tab2')">
                                    <span>Finance</span>
                                    <img class="icon" src="../../../../../assets/forward-arrow.svg" alt="">

                                </li>
                                <li class="{{tab3}}" (click)="toggleEvent(5,'tab3')">
                                    <span>Staff</span>
                                    <img class="icon" src="../../../../../assets/forward-arrow.svg" alt="">

                                </li>
                            </ul>
                        </div>
                        <div class="manage-role-container profile-tab-container {{roleBlock1}}">
                            <div class="manage-role-header">
                                <p>Role: Physician</p>
                            </div>
                            <div class="manage-role-body">
                                <div class="grid grid-cols-8 gap-4 ">
                                    <div class="col-span-4 md:col-span-2" *ngFor="let check of doctorcheckedList">
                                        <mat-checkbox [color]="'primary'" 
                                        [(ngModel)]="check.value"
                                        (change)="ChangeRole()">{{check.label}}</mat-checkbox>
                                    </div>
                                    <!-- <div class="col-span-4 md:col-span-2">
                                        <mat-checkbox [color]="'primary'">Patient Details</mat-checkbox>
                                    </div>
                                    <div class="col-span-4 md:col-span-2">
                                        <mat-checkbox [color]="'primary'" >Alerts</mat-checkbox>
                                    </div>
                                    <div class="col-span-4 md:col-span-2">
                                        <mat-checkbox [color]="'primary'" >To-Do</mat-checkbox>
                                    </div>
                                    <div class="col-span-4 md:col-span-2">
                                        <mat-checkbox [color]="'primary'">Records</mat-checkbox>
                                    </div>
                                    <div class="col-span-4 md:col-span-2">
                                        <mat-checkbox [color]="'primary'">Billing</mat-checkbox>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="manage-role-container profile-tab-container {{roleBlock2}}">
                            <div class="manage-role-header">
                                <p>Role: Finance</p>
                            </div>
                            <div class="manage-role-body">
                                <div class="grid grid-cols-8 gap-4 ">
                                    <div class="col-span-4 md:col-span-2" *ngFor="let check of doctorcheckedList">
                                        <mat-checkbox [color]="'primary'" 
                                        [(ngModel)]="check.value"
                                        (change)="ChangeRole()">{{check.label}}</mat-checkbox>
                                    </div>
                                    <!-- <div class="col-span-4 md:col-span-2">
                                        <mat-checkbox [color]="'primary'">Patient Details</mat-checkbox>
                                    </div>
                                    <div class="col-span-4 md:col-span-2">
                                        <mat-checkbox [color]="'primary'" >Alerts</mat-checkbox>
                                    </div>
                                    <div class="col-span-4 md:col-span-2">
                                        <mat-checkbox [color]="'primary'" >To-Do</mat-checkbox>
                                    </div>
                                    <div class="col-span-4 md:col-span-2">
                                        <mat-checkbox [color]="'primary'">Records</mat-checkbox>
                                    </div>
                                    <div class="col-span-4 md:col-span-2">
                                        <mat-checkbox [color]="'primary'">Billing</mat-checkbox>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="manage-role-container profile-tab-container {{roleBlock3}}">
                            <div class="manage-role-header">
                                <p>Role: Staff</p>
                            </div>
                            <div class="manage-role-body">
                                <div class="grid grid-cols-8 gap-4 ">
                                    <div class="col-span-4 md:col-span-2" *ngFor="let check of doctorcheckedList">
                                        <mat-checkbox [color]="'primary'" 
                                        [(ngModel)]="check.value"
                                        (change)="ChangeRole()">{{check.label}}</mat-checkbox>
                                    </div>
                                    <!-- <div class="col-span-4 md:col-span-2">
                                        <mat-checkbox [color]="'primary'">Patient Details</mat-checkbox>
                                    </div>
                                    <div class="col-span-4 md:col-span-2">
                                        <mat-checkbox [color]="'primary'" >Alerts</mat-checkbox>
                                    </div>
                                    <div class="col-span-4 md:col-span-2">
                                        <mat-checkbox [color]="'primary'" >To-Do</mat-checkbox>
                                    </div>
                                    <div class="col-span-4 md:col-span-2">
                                        <mat-checkbox [color]="'primary'">Records</mat-checkbox>
                                    </div>
                                    <div class="col-span-4 md:col-span-2">
                                        <mat-checkbox [color]="'primary'">Billing</mat-checkbox>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- manage role end -->
    </div>
</div>
<ng-template #changepasswordDialog>
    <div class="dialog-content-wrapper">
        <div class="add-patient-modal change-password-modal">
            <button mat-icon-button class="modal-close-btn">
                <mat-icon (click)="cancelPopup()">close</mat-icon>
              </button>
            <div class="modal-header">
                <h2>Change Password</h2>
            </div>
            <div class="modal-body">
                <form [formGroup]="passwordForm">
             
                    <div class="input-block">
                        <mat-form-field
                        class="w-full"
                        appearance="fill"
                    >
                        <mat-label
                            >Old Password </mat-label
                        >
                        <input
                            matInput
                            type="password"
                            formControlName="oldPassword"
                            id="oldPassword"
                            name = "oldPassword"
                            [errorStateMatcher]="matcher"
                        />
                        <mat-error
                                *ngIf="
                                    passwordForm
                                        .get('oldPassword')
                                        .hasError('required')
                                "
                            >
                                Please Enter Old Password
                            </mat-error>
        
                    </mat-form-field>
                    <mat-form-field
                    class="w-full"
                    appearance="fill"
                >
                    <mat-label
                        >New Password </mat-label
                    >
                    <input
                            matInput
                            type="password"
                            formControlName="newPassword"
                            id="newPassword"
                            name = "newPassword"
                            [errorStateMatcher]="matcher"
                        />
                        <mat-error
                                *ngIf="
                                    passwordForm
                                        .get('newPassword')
                                        .hasError('required')
                                "
                            >
                                Please Enter New Password
                            </mat-error>
                        <mat-error
                        *ngIf="passwordForm.get('newPassword').hasError('patternValid')"
                    >
                        Password should contain alpha numberic and minimum 8
                        characters
                    </mat-error>
                </mat-form-field>
                <mat-form-field
                class="w-full"
                appearance="fill"
            >
                <mat-label
                    >Confirm New Password</mat-label
                >
                <input
                            matInput
                            type="password"
                            formControlName="confirmPassord"
                            id="confirmPassord"
                            name = "confirmPassord"
                            [errorStateMatcher]="matcher"
                        />
                <mat-error
                        *ngIf="
                            passwordForm
                                .get('confirmPassord')
                                .hasError('required')
                        "
                    >
                        Please Enter Confirm Password
                    </mat-error>
            <mat-error
                        *ngIf="
                            passwordForm
                                .get('confirmPassord')
                                .hasError('mustMatch')
                        "
                    >
                        Passwords must match
                    </mat-error>
            </mat-form-field>
                    </div>
                    <div class="form-action">
                        <button
                            mat-stroked-button
                            class="update-btn"
                            (click)="onChangePassword()"
                        >
                            Update
                        </button>
                   
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #inviteMemberDialog>
    <div class="dialog-content-wrapper">
        <div class="add-patient-modal invite-modal">
            <div class="modal-header">
                <h2>Invite a new team member</h2>
            </div>
            <div class="modal-body">
                <form [formGroup]="firstForm">
             
                    <div class="input-block">
                <div class="grid grid-cols-2">
                    <div class="col-span-6 sm:col-span-1">
                        <mat-form-field
                        class="w-full"
                        appearance="fill"
                    >
                        <mat-label
                            >Enter Member Name</mat-label
                        >
                        <input
                            matInput
                                        formControlName="memberName"
                                        id="firstName"
                                        name = "firstName"
                                        [(ngModel)]="modelmemberName"
                                        [errorStateMatcher]="matcher"
                                        (change)="
                                            removeSpace(
                                                firstForm.value.memberName,
                                                'modelFirstName'
                                            )
                                        "
                        />
                                <mat-error
                                        *ngIf="
                                            firstForm
                                                .get('memberName')
                                                .hasError('required')
                                        "
                                    >
                                        Please Enter Member Name
                                    </mat-error>
                                            </mat-form-field>
                        </div>
                        <div class="col-span-6 sm:col-span-1">
                            <mat-form-field
                            class="w-full"
                            appearance="fill"
                        >
                            <mat-label
                                >Enter member email</mat-label
                            >
                            <input
                                matInput
                                type="email"
                                formControlName="memberEmail"
                                id="memberEmail"
                                name = "memberEmail"
                                [(ngModel)]="modelmemberEmail"
                                [errorStateMatcher]="matcher"
                                (change)="
                                    removeSpace(
                                        firstForm.value.memberEmail,
                                        'modelmemberEmail'
                                    )
                                "
                            />
                            <mat-error
                                *ngIf="
                                    firstForm
                                        .get('memberEmail')
                                        .hasError('required')
                                "
                            >
                                Please Enter Member Name
                            </mat-error>
                            <mat-error
                                *ngIf="
                                    firstForm
                                        .get('memberEmail')
                                        .hasError('pattern')
                                "
                            >
                                Please Enter the Valid Email
                            </mat-error>
                        </mat-form-field>
                        </div>
                        <div class="col-span-6 sm:col-span-1">
                            <mat-form-field
                            class="w-full"
                            appearance="fill"
                        >
                            <mat-label
                                >Select/add facility location(s) for this member</mat-label
                            >
                            <mat-select formControlName="location"
                                        id="location"
                                        [errorStateMatcher]="matcher" >
                                <!-- <mat-option value="1">Orlando</mat-option> -->
                                <mat-option
                                            *ngFor="let location of locationList"
                                            [value]="location.id"
                                        >
                                            {{ location.name }}
                                        </mat-option>
                              </mat-select>
                              <mat-error
                                *ngIf="
                                    firstForm
                                        .get('location')
                                        .hasError('required')
                                "
                            >
                                Please Select Location
                            </mat-error>
                        </mat-form-field>
                        </div>
                        <div class="col-span-6 sm:col-span-1">
                            <mat-form-field
                            class="w-full"
                            appearance="fill"
                        >
                            <mat-label
                                >Select/add department(s) for this member</mat-label
                            >
                            <mat-select formControlName="department"
                                        id="department"
                                        [errorStateMatcher]="matcher" >
                                <mat-option
                                *ngFor="
                                    let specialization of specializationList
                                "
                                [value]="specialization.id"
                            >
                                {{ specialization.name }}
                            </mat-option>
                              </mat-select>
                              <mat-error
                                        *ngIf="
                                            firstForm
                                                .get('department')
                                                .hasError('required')
                                        "
                                    >
                                        Please Select Department
                                    </mat-error>

                        </mat-form-field>
                        </div>
                        </div>
                                             
                                          
                                     
                        <p>
                            Assign role(s) to the new team member so that they can access the relevant sections of the portal
                        </p>
                    </div>
                    <mat-error *ngIf="ckeckError=='error'">Select Role</mat-error>
                    <div class="role-field-container">
                        <mat-checkbox color="primary" [(ngModel)]="adminchecked" [checked]="adminchecked"
                        (change)="filterChange('admin')" [ngModelOptions]="{standalone: true}"
                     >Admin</mat-checkbox>

                         <mat-checkbox color="primary" [(ngModel)]="doctorchecked" [checked]="doctorchecked"
                    (change)="filterChange('doctor')" [ngModelOptions]="{standalone: true}">Doctor</mat-checkbox>

                        <mat-checkbox color="primary"  [(ngModel)]="financechecked" [checked]="financechecked"
                    (change)="filterChange('finance')" [ngModelOptions]="{standalone: true}">Finance</mat-checkbox>

                        <mat-checkbox color="primary"   [(ngModel)]="staffchecked" [checked]="staffchecked"
                    (change)="filterChange('staff')" [ngModelOptions]="{standalone: true}" >Care Team Staff</mat-checkbox>

                    </div> 
                    <div *ngIf="doctorId==true" >
                        <div class="enroll-block">
                            <mat-checkbox color="primary" [checked]="providerIdCheck">Enroll this Doctor (A user account will be created for the Doctor)</mat-checkbox>

                        </div>
                        <div class="input-block">
                            <div class="grid grid-cols-2">
                                <div class="col-span-6 sm:col-span-1">
                                    <mat-form-field
                                    class="w-full"
                                    appearance="fill"
                                >
                                    <mat-label
                                        >Enter Provider Id</mat-label
                                    >
                                    <input
                                        matInput
                                        formControlName="providerid"
                                        id="providerid"
                                        [errorStateMatcher]="matcher"
                                    />
                                    <mat-error
                                        *ngIf="
                                            firstForm
                                                .get('providerid')
                                                .hasError('required')
                                        "
                                    >
                                        Please Select Department
                                    </mat-error>
                                </mat-form-field>
            </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-action">
                        <button
                            mat-stroked-button
                            class="cancel-btn"
                            (click)="cancelPopup()"
                        >
                        Cancel
                        </button>
                        <button mat-flat-button color="primary" matTooltip="Invite Member" (click)="oninviteSubmit()"
                        >
                    <img src="../../../../../assets/plus.svg" alt="">
                        Invite</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>