.user-profile-page {
    width: 100%;
    .profile-tab {
        margin-bottom: 20px;

        .mat-button-toggle {
            background: transparent;
            color: #4d6480;
            font-size: 14px;
            ::ng-deep {
                .mat-button-toggle-label-content {
                    color: inherit !important;
                    padding: 0 25px;
                }
            }
            &.mat-button-toggle-checked {
                background: #bac529;
                color: #ffffff;
            }
        }
    }
    .profile-tab-container {
        background: #ffffff;
        box-shadow: 0px 6px 20px rgba(119, 149, 183, 0.149);
        border-radius: 10px;
        padding: 25px;
        .toggle-switch .toggle-slider {
            background: #7795b7;
        }
        .toggle-switch input:checked + .toggle-slider {
            background: #28c76f;
        }
        .my-team-body {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
    }
    .my-profile-block {
        .my-profile-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 0.875rem;
            .profile-avatar {
                label {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 4.25rem;
                    height: 4.25rem;
                    border-radius: 50%;
                    overflow: hidden;
                    img {
                        width: 100%;
                        max-height: 100%;
                    }
                }
            }
            .slider-input .label {
                font: 12px "Montserrat", sans-serif;
                color: #5e5873;
            }
        }
    }
    .my-team-block {
        .my-team-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            h4 {
                font-size: 17px;
                font-weight: bold;
                color: #133257;
            }
            .search-field {
                mat-form-field {
                    ::ng-deep {
                        .mat-form-field-wrapper {
                            margin-bottom: 0;
                            .mat-form-field-flex {
                                border-radius: 4px;
                                border-color: #d1d4de !important;
                                min-height: 42px;
                                .mat-form-field-infix .mat-input-element {
                                    padding: 10px 0;
                                }
                                mat-icon {
                                    img {
                                        width: 18px;
                                        height: 18px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .my-team-body {
            .table-wrapper {
                .table-block {
                    padding: 0.9375rem 0;
                }
            }
        }
        .invite-block {
            background: #ffffff;
            box-shadow: 0px 6px 20px rgba(119, 149, 183, 0.149);
            border-radius: 10px;
            padding: 15px 30px;
            .invite-block-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 0;
                border-bottom: 1px solid #d1d4de;
                h3 {
                    color: #133257;
                    font-style: 17px;
                    font-weight: 700;
                }
                .mat-flat-button {
                    font-size: 14px;
                    font-weight: bold;
                    img {
                        width: 10px;
                        margin-right: 8px;
                    }
                }
            }
            .invite-block-body {
                height: 50vh;
                overflow: auto;
            }
            .invite-list {
                li {
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    border-bottom: 1px solid #d1d4de;
                    .user-detail {
                        flex: 1;
                        overflow: hidden;
                        .user-info {
                            display: flex;
                            margin: 4px 0;
                            .info-col {
                                width: 50%;
                                padding-right: 10px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                font: 14px "proxima-regular";
                            }
                            .email {
                                font-family: "proxima-bold" !important;
                                color: #3a3f4e;
                            }
                            i {
                                color: #57607b;
                            }
                            .team {
                                color: #2d76de;
                            }
                            .role {
                                color: #4d6480;
                            }
                        }
                    }
                    .invite-action {
                        .forward-btn {
                            position: relative;
                            top: 2px;
                            &:hover {
                                img {
                                    filter: invert(35%) sepia(41%)
                                        saturate(3522%) hue-rotate(204deg)
                                        brightness(96%) contrast(81%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .manage-user-block {
        h4 {
            font-size: 17px;
            font-weight: bold;
            color: #133257;
            margin-bottom: 20px;
        }
        .manage-user-container {
            display: flex;
            flex-wrap: wrap;
            .role-list {
                width: 285px;
                margin-right: 23px;
                ul {
                    li {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 18px;
                        background: #ffffff;
                        border-radius: 5px;
                        margin-bottom: 6px;
                        cursor: pointer;
                        transition: 0.3s;
                        &:hover,
                        &.active {
                            background: #2d76de;
                            span {
                                color: #fff;
                            }
                        }
                        span {
                            color: #57607b;
                            font: 600 15px "proxima-regular";
                        }
                        .icon {
                            width: 6px;
                        }
                    }
                }
            }
            .manage-role-container {
                flex: 1;
                padding: 5px 30px;
                .manage-role-header {
                    padding: 15px 0;
                    border-bottom: 1px solid #d1d4de;
                    p {
                        font: 600 15px "proxima-regular";
                        color: #2d76de;
                    }
                }
                .manage-role-body {
                    padding: 30px 0;
                    mat-checkbox {
                        font-size: 14px;
                        color: #133257;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
.change-password-modal {
    padding: 0.9375rem 0.625rem;
    .form-action {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        .update-btn {
            border: 2px solid #657e9b !important;
            font-size: 0.875rem;
            color: #657e9b;
            font-weight: bold;
            padding: 0 2.5rem !important;
            max-height: 44px;
            height: 44px;
        }
    }
}
.invite-modal {
    width: 100%;
    .modal-header {
        margin-bottom: 1.875rem;
    }
    .role-field-container {
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        mat-checkbox {
            color: #133257;
            margin-right: 35px;
            margin-bottom: 5px;
        }
    }
    .enroll-block {
        margin-bottom: 20px;
        mat-checkbox {
            color: #133257;
        }
    }
    .form-action {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        .cancel-btn {
            border: 2px solid #657e9b !important;
            font-size: 0.875rem;
            color: #657e9b;
            font-weight: bold;
            padding: 0 2.5rem !important;
            max-height: 44px;
            height: 44px;
            margin-right: 25px;
        }
        .mat-primary {
            font-weight: bold;
            padding: 0 2.5rem !important;
            max-height: 44px;
            height: 44px;
            img {
                width: 10px;
                margin-right: 14px;
            }
        }
    }
}
p.success {
    color: green;
}
p.error {
    color: red;
}
.hide {
    display: none;
}
.show {
    display: block;
}
