<div class="auth-page-wrapper reset-password-page">
    <div class="auth-form-container">
        <div class="auth-form">
            <div class="container-header">
                <h2 *ngIf="set=='0'">Set your password</h2>
                <h2 *ngIf="set=='1'">Reset your password</h2>
                <p>Create a new password for your account</p>
            </div>

            <!-- Alert -->
            <fuse-alert
                class="mt-8 -mb-4"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [dismissible]="true"
                [type]="alert.type"
                [@shake]="alert.type === 'error'"
            >
                {{ alert.message }}
            </fuse-alert>

            <!-- Reset password form -->
            <form [ngStyle]="{'margin-top':showAlert?'25px':'0px'}" [formGroup]="resetPasswordForm" #resetPasswordNgForm="ngForm">
                <!-- Password field -->
                <mat-form-field>
                    <input
                        placeholder="Password"
                        matInput
                        type="password"
                        [formControlName]="'password'"
                        #passwordField
                    />
                    <button
                        mat-icon-button
                        type="button"
                        (click)="
                            passwordField.type === 'password'
                                ? (passwordField.type = 'text')
                                : (passwordField.type = 'password')
                        "
                        matSuffix
                    >
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"
                        ></mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"
                        ></mat-icon>
                    </button>
                    <mat-error
                        *ngIf="resetPasswordForm.get('password').hasError('required')"
                    >
                        Password is required
                    </mat-error>
                    <mat-error
                        *ngIf="resetPasswordForm.get('password').hasError('patternValid')"
                    >
                        Password should contain alpha numberic and minimum 8
                        characters
                    </mat-error>
                    
                </mat-form-field>

                <!-- Password confirm field -->
                <mat-form-field>
                    <input
                        id="password-confirm"
                        placeholder="Confirm Password"
                        matInput
                        type="password"
                        [formControlName]="'passwordConfirm'"
                        #passwordConfirmField
                    />
                    <button
                        mat-icon-button
                        type="button"
                        (click)="
                            passwordConfirmField.type === 'password'
                                ? (passwordConfirmField.type = 'text')
                                : (passwordConfirmField.type = 'password')
                        "
                        matSuffix
                    >
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordConfirmField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"
                        ></mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordConfirmField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"
                        ></mat-icon>
                    </button>
                    <mat-error
                        *ngIf="
                            resetPasswordForm
                                .get('passwordConfirm')
                                .hasError('required')
                        "
                    >
                        Password confirmation is required
                    </mat-error>
                    <mat-error
                        *ngIf="
                            resetPasswordForm
                                .get('passwordConfirm')
                                .hasError('mustMatch')
                        "
                    >
                        Passwords must match
                    </mat-error>
                </mat-form-field>

                <!-- Submit button -->
                <button
                    mat-flat-button
                    color="primary"
                    class="submit-btn"
                    [disabled]="resetPasswordForm.disabled"
                    (click)="resetPassword()"
                >   
                    <span *ngIf="!resetPasswordForm.disabled && set=='0'">
                        Set your password
                    </span>
                    <span *ngIf="!resetPasswordForm.disabled && set=='1'">
                        Reset your password
                    </span>
                    <mat-progress-spinner
                        *ngIf="resetPasswordForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"
                    ></mat-progress-spinner>
                </button>
            </form>
            <hr class="separator" />
            <div class="login-btn-container">
                <a
                    mat-stroked-button
                    class="login-btn"
                    [routerLink]="['/sign-in']"
                >
                    <span> Login </span>
                </a>
            </div>
        </div>
    </div>
</div>
