.admin-management-page {
    width: 100%;
}
.add-patient-modal.add-admin-modal {
    width: 100%;
    .form-action {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 1.875rem;
        button {
            width: 8.75rem;
            height: 2.75rem;
            max-height: none;
            font-size: 0.875rem;
            font-weight: bold;
            padding: 0 2.5rem !important;
        }
        .cancel-btn {
            border: 2px solid #657e9b !important;
            color: #657e9b;
        }
        .next-btn {
            margin-left: 1rem;
        }
    }
}
.active{
    color: #2ac770
}
.inactive{
    color: #EA5455
}
