<ngx-spinner></ngx-spinner>
<div class="reading-status-page w-full">
    <div class="section-header">
        <h2>Reading Status</h2>
        <div class="header-items">
            <button
                mat-stroked-button
                class="outline-btn"
                matTooltip="View billing reports"
                routerLink="/doctor/billing/list"
            >
                View billing reports
            </button>
        </div>
    </div>
    <div class="filter-section mb-3">
        <div class="section-filters mb-0">
            <div class="search-field mr-6 flex">
                <mat-form-field>
                    <input
                        matInput
                        #searchInput
                        [ngModel]="search"
                        name="search"
                        (ngModelChange)="filterChange($event, 'search')"
                        placeholder="Enter a Patient Name/ID"
                    />
                    <mat-icon matSuffix>
                        <img src="../../../../assets/search.svg" alt="" />
                    </mat-icon>
                </mat-form-field>
            </div>
        </div>
        <div class="select-filter-container ml-auto flex items-center">
            <h3>Filter by</h3>

            <mat-form-field style="width: 11.375rem">
                <mat-label>Select Status</mat-label>
                <mat-select
                    (selectionChange)="
                        filterChange($event.value, 'colorCodeValue')
                    "
                    [(ngModel)]="requestParam.colorCodeValue"
                >
                    <mat-option value="green"> Green </mat-option>
                    <mat-option value="orange"> Orange </mat-option>
                    <mat-option value="red"> Red </mat-option>
                </mat-select>
            </mat-form-field>

            <button
                mat-stroked-button
                class="outline-btn reset-btn ml-3"
                matTooltip="Reset"
                (click)="resetForm()"
            >
                Reset
            </button>
        </div>
    </div>
    <div class="legend-container grid grid-cols-12 items-center">
        <div class="col-span-2 sm:col-span-2">
            <div class="legend-item">
                <h3>Health score legend</h3>
            </div>
        </div>
        <div class="col-span-2 sm:col-span-4">
            <div class="legend-item">
                <i class="icon" style="background: #28c76f"></i>
                <p>
                    <strong>Good</strong> - Over 8 days to achieve cycle<br />
                    target / target already achieved
                </p>
            </div>
        </div>
        <div class="col-span-2 sm:col-span-3">
            <div class="legend-item">
                <i class="icon" style="background: #fdab5d"></i>
                <p>
                    <strong>Average</strong> - Between 5 to 8 days to achieve
                    cycle target
                </p>
            </div>
        </div>
        <div class="col-span-2 sm:col-span-3">
            <div class="legend-item">
                <i class="icon" style="background: #ea5455"></i>
                <p>
                    <strong>At Risk</strong> - Less than 5 days to achieve cycle
                    target
                </p>
            </div>
        </div>
    </div>
    <div class="table-container">
        <div class="table-wrapper">
            <div class="table-block">
                <ngx-datatable
                    *ngIf="serverResponse"
                    class="material fullscreen"
                    [rows]="(serverResponse | async) || []"
                    [headerHeight]="$any('auto')"
                    [footerHeight]="0"
                    rowHeight="auto"
                    [scrollbarH]="true"
                    [externalPaging]="true"
                    [count]="page1.totalElements"
                    [offset]="page1.pageNumber"
                    [limit]="page1.size"
                    (page)="setPage($event)"
                    (sort)="onSort($event)"
                    [selected]="selected"
                    [selectionType]="SelectionType.checkbox"
                    [selectAllRowsOnPage]="false"
                    (select)="onSelect($event)"
                >
                    <ngx-datatable-column
                        name="Patient details"
                        [sortable]="false"
                        [width]="250"
                    >
                        <ng-template
                            let-row="row"
                            let-rowIndex="rowIndex"
                            ngx-datatable-cell-template
                        >
                            <div class="avatar-detail-col">
                                <!-- <img
                                            class="avatar"
                                            src="assets/images/avatars/doctor.jpg"
                                            alt=""
                                        /> -->
                                <img
                                    class="avatar"
                                    src="assets/images/avatars/profile.jpg"
                                    alt=""
                                />
                                <div class="avatar-info">
                                    <p class="name">
                                        {{ row.first_name }}
                                        {{ row.last_name }}
                                    </p>
                                    <span>
                                        {{ "#" + row.patientMRN }} |
                                        {{ row.genderName }}</span
                                    >
                                    <p>{{ row.dateOfBirth }}</p>
                                </div>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                        name="ICD-10"
                        [sortable]="false"
                        [width]="170"
                    >
                        <ng-template
                            let-row="row"
                            let-rowIndex="rowIndex"
                            ngx-datatable-cell-template
                        >
                            I10
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                        name="Device Model"
                        [sortable]="false"
                        [width]="350"
                    >
                        <ng-template ngx-datatable-header-template>
                            <div class="table-header">
                                <h4>Health score</h4>
                                <p>
                                    The health score of patients as of
                                    {{ todayDateDisplay }}
                                </p>
                            </div>
                        </ng-template>
                        <ng-template
                            let-row="row"
                            let-rowIndex="rowIndex"
                            ngx-datatable-cell-template
                        >
                            <div class="reading-col">
                                <i class="icon {{ row.colorCodeClass }}"></i>
                                <div class="reading-info">
                                    <p>
                                        Readings needed:
                                        {{ row.readingNeeded }}
                                    </p>
                                    <div
                                        class="progress-bar"
                                        style="--value:{{
                                            row.daysRemainingCountForBar
                                        }}; --max-value :30 ; --bg-color: {{
                                            row.colorCode
                                        }};"
                                    ></div>
                                </div>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                        name="Days remaining in cycle"
                        [sortable]="false"
                        [width]="150"
                    >
                        <ng-template
                            let-row="row"
                            let-rowIndex="rowIndex"
                            ngx-datatable-cell-template
                        >
                            {{ row.daysRemaining }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                        name="Status"
                        [sortable]="false"
                        [width]="360"
                    >
                        <ng-template ngx-datatable-header-template>
                            <div class="table-header">
                                <h4>Expected date of service</h4>
                                <p>
                                    This date may change depending on the number
                                    of days a user has taken readings in a cycle
                                </p>
                            </div>
                        </ng-template>
                        <ng-template
                            let-row="row"
                            let-rowIndex="rowIndex"
                            ngx-datatable-cell-template
                        >
                            {{ row.expectedDate }}
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>

        <mat-paginator
            style="background: #f1f2f8"
            [length]="total"
            [pageSize]="requestParam.pasgesize"
            [pageSizeOptions]="[5, 10, 25, 100]"
            (page)="getServerData($event)"
            aria-label="Select page"
            [pageIndex]="requestParam.current"
        >
        </mat-paginator>
    </div>
</div>
