.reading-status-page {
    .avatar-detail-col {
        align-items: flex-start;
        .avatar {
            width: 40px;
            height: 40px;
        }
        .avatar-info .name {
            color: rgba(77, 99, 128, 0.9);
            font-weight: bold;
        }
    }
    .ngx-datatable.material .datatable-header .datatable-header-cell {
        display: inline-flex;
        align-items: flex-end;
    }

    .select-filter-container {
        h3 {
            color: #133257;
            font-size: 1.0625rem;
            font-weight: 700;
            margin-right: 1.75rem;
        }
        .mat-form-field.mat-form-field-appearance-fill
            ::ng-deep
            .mat-form-field-wrapper
            .mat-form-field-flex {
            background: transparent !important;
        }
        .mat-form-field.mat-form-field-appearance-fill:not(.mat-form-field-hide-placeholder)
            ::ng-deep
            .mat-form-field-wrapper
            .mat-form-field-flex
            .mat-form-field-infix
            .mat-form-field-label-wrapper
            .mat-form-field-label
            mat-label {
            background: #f1f2f8;
        }
    }
    .legend-container {
        background: #ffffff;
        box-shadow: 0px 6px 20px rgba(119, 149, 183, 0.149);
        border-top: 1px solid #4d6480;
        margin-bottom: 1.25rem;
        padding: 1.25rem 0;
        .legend-item {
            display: flex;
            padding: 0 2.5rem;
            .icon {
                width: 14px;
                height: 14px;
                border-radius: 30px;
                margin-right: 10px;
                transform: translateY(2px);
            }
            p {
                flex: 1;
                font-size: 0.875rem;
                color: #4d6480;
            }
            h3 {
                color: #4d6480;
                font-size: 0.875rem;
                font-weight: 700;
            }
        }
    }
    .reading-col {
        display: flex;
        .icon {
            width: 14px;
            height: 14px;
            border-radius: 30px;
            margin-right: 10px;
            transform: translateY(2px);
        }
        .reading-info {
            p {
                font-size: 14px;
                color: #4d6480;
                margin-bottom: 8px;
            }
        }
    }
}

.greenCode {
    background: #28c76f;
}
.orangeCode {
    background: #fdab5d;
}
.redCode {
    background: #ea5455;
}
