.billing-list-page {
    width: 100%;
    .toggle-switch .toggle-slider {
        background: #ea5455;
    }
    .toggle-switch input:checked + .toggle-slider {
        background: #28c76f;
    }
    .code-col {
        display: flex;
        align-items: center;
        .code-icon {
            width: 9px;
            height: 9px;
            border-radius: 100%;
            margin-right: 10px;
        }
    }
    .table-wrapper .table-block {
        display: flex;
        flex-direction: column;
        .billing-table {
            flex: 1;
            overflow: auto;
        }
    }
    .table-filter {
        justify-content: flex-start !important;
        .select-filter-container {
            margin-left: 0 !important;
        }
    }
}

.greencode {
    background: #2ac770;
}
.orangecode {
    background: #fdab5d;
}
.yellowcode {
    background: #ffd94c;
}
.redcode {
    background: #ea5556;
}

.period-picker {
    width: 16.25rem;
    @media only screen and (max-width: 768px) {
        width: calc(46% - 20px);
        margin-right: 20px;
    }
    @media only screen and (max-width: 600px) {
        width: 100%;
        margin-right: 0px;
    }
    &.mat-form-field-should-float {
        ::ng-deep {
            .mat-date-range-input-separator {
                opacity: 1;
            }
            .mat-date-range-input-start-wrapper {
                max-width: calc(50% - 4px);
                width: calc(40% - 4px);
            }
            .mat-date-range-input-end-wrapper {
                flex: 1;
            }
        }
    }
    .mat-form-field-flex {
        min-height: 2.5rem;
    }
    ::ng-deep {
        .mat-form-field-flex {
            min-height: 2.5rem;
            border-radius: 10px;
            border-color: #657e9b !important;
            font-size: 0.875rem;
            color: #133257;
            font-weight: 500;
        }
        mat-datepicker-toggle {
            .mat-icon-button {
                width: 30px !important;
                min-width: 30px !important;
                height: 30px !important;
                min-height: 30px !important;
            }
        }
        .mat-form-field-wrapper {
            margin-bottom: 0;
        }
        .mat-date-range-input-separator {
            opacity: 0;
        }
        .mat-date-range-input-start-wrapper {
            max-width: 100px;
            width: 100px;
        }
        .mat-date-range-input-end-wrapper {
            flex: 1;
        }
    }
}
.patientName{
  cursor: pointer;
}
.patientName .name, .patientName span{
    color: #133257 !important;
  font-weight: bold !important;
}