<div class="auth-page-wrapper forgot-password-page">
   

    <div class="auth-form-container">
        <div class="auth-form">
            <div class="container-header">
                <h2>Forgot Password?</h2>
                <p>Provide your registered email address</p>
            </div>
             <!-- Alert -->
            <fuse-alert
                class="mt-8 -mb-4"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [dismissible]="true"
                [type]="alert.type"
                [@shake]="alert.type === 'error'"
            >
                {{ alert.message }}
            </fuse-alert>
            <!-- <p class="success">{{ successMessage }}</p>
            <p class="alert">{{ errorMessage }}</p> -->
            <!-- Forgot password form -->
            <form
                [formGroup]="forgotPasswordForm"
                #forgotPasswordNgForm="ngForm"
                style="margin-top:20px"
            >
                <!-- Email field -->
                <mat-form-field>
                    <input
                        id="email"
                        matInput
                        [formControlName]="'email'"
                        placeholder="Email Address"
                    />
                    <mat-error
                        *ngIf="
                            forgotPasswordForm.get('email').hasError('required')
                        "
                    >
                        Email address is required
                    </mat-error>
                    <mat-error
                        *ngIf="
                            forgotPasswordForm.get('email').hasError('email')
                        "
                    >
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <!-- Submit button -->
                <button
                    color="primary"
                    class="submit-btn"
                    mat-flat-button
                    [disabled]="forgotPasswordForm.disabled"
                    (click)="sendResetLink()"
                >
                    <span *ngIf="!forgotPasswordForm.disabled"> Send </span>
                    <mat-progress-spinner
                        *ngIf="forgotPasswordForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"
                    ></mat-progress-spinner>
                </button>
            </form>
            
            <div style="margin-top:20px" class="login-btn-container">
                <label style="font-size: 13px;">Didn't get an email?</label>
                <button style="margin-left:22px"
                    mat-stroked-button
                    [disabled]="!formSubmitted"
                    (click)="resendForgotLink()"
                    class="login-btn"
                >
                    Resend
                </button>
            </div>
            <hr class="separator" />
            <div class="login-btn-container">
                <a
                    mat-stroked-button
                    class="login-btn"
                    [routerLink]="['/sign-in']"
                >
                    <span> Login </span>
                </a>
            </div>
        </div>
    </div>
</div>
