<ngx-spinner></ngx-spinner>
<div class="organization-datail-page w-full">
    <div class="inner-page-header">
        <button mat-button class="back-btn" (click)="onBackPatient()"> <img src="../../../../../assets/back-arrow.svg" alt="" > Back to Organization Record</button>
    </div>
    <div class="section-header">
        <h2>Doctor Details</h2>
    </div>
            <div class="user-card" *ngIf="userDetails">
                        <div class="organization-card">
                            <div class="organization-img">
                                <img class="profile-img" style="height: 100%;" src="assets/images/avatars/profile.jpg" alt=""  >
                            </div>
                            <p class="name">{{userDetails.name}}</p>
                          
                        </div>
                            <div class="organization-details grid grid-cols-1 sm:grid-cols-2 gap-5">
                                <div class="organization-item">
                                    <label>Department</label>
                                    <p>{{userDetails.department}}</p>
                                </div>
                                <div class="organization-item">
                                    <label>Qualification	</label>
                                    <p>{{userDetails.qualification}}</p>
                                </div>
                                <div class="organization-item">
                                    <label>Mobile phone number</label>
                                    <p>{{userDetails.mobile_number}}</p>
                                </div>
                                <div class="organization-item">
                                    <label>Location</label>
                                    <p>{{userDetails.region}}</p>
                                </div>
                                <div class="organization-item">
                                    <label>No.of Patients</label>
                                    <p>{{userDetails.patientCount}}</p>
                                </div>
                                <div class="organization-item">
                                    <label>Email-ID</label>
                                    <p>{{userDetails.email_address}}</p>
                                </div>
                            </div>
                <button matTooltip="Download Reports" mat-button class="download-btn ml-auto" (click)="doctorDetailsExport()">
                    <img matSuffix src="../../../../../assets/download.svg" alt="">
                    Download Reports
                </button>
            </div>
        <div class="section-body">
            <mat-button-toggle-group  class="organization-tab" [value]="DefaultTab">
                <mat-button-toggle value="MyProfile" (click)="changeTab(1)">My Patients</mat-button-toggle>
                <mat-button-toggle value="MyTeam" (click)="changeTab(2)">My Staff</mat-button-toggle>
            </mat-button-toggle-group>
            <div class=" my-profile-block" *ngIf="tabVal==1">
                <div class="section-filters">
                    <div class="left-col">
                            <div class="search-field">
                                <mat-form-field>
                                    <input matInput [ngModel]="search" name="search" (ngModelChange)="filterChange($event,'search')"
                                        placeholder="Enter a search item" />
                                    <mat-icon matSuffix>
                                        <img src="../../../../assets/search.svg" alt="" />
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                    </div>
                </div>
                <div  class="table-wrapper">

                    <div class="table-filter">
                        <mat-button-toggle-group class="tab-filter" [value]="requestParam.status">
                            <mat-button-toggle matTooltip="View All Patients" [ngClass]="{'mat-button-toggle-checked': requestParam.status === ''}"
                                (change)="filterChange($event.value,'status')" value="">All Patients ({{ systemTotalpatient }})
                            </mat-button-toggle>
                            <mat-button-toggle matTooltip="View Active Patients" [ngClass]="{'mat-button-toggle-checked': requestParam.status === '1'}"
                                (change)="filterChange($event.value,'status')" value="active">Active ({{ activepatient }})
                            </mat-button-toggle>
                            <mat-button-toggle matTooltip="View InActive Patients" [ngClass]="{'mat-button-toggle-checked': requestParam.status === '0'}"
                                (change)="filterChange($event.value,'status')" value="inactive">Inactive ({{ inactivepatient }})
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                    <div class="table-block">

                <ngx-datatable class="material fullscreen" 
                [rows]="(serverResponsePatient | async) || []"
                [headerHeight]="$any('auto')" 
                [footerHeight]="0"
                rowHeight="auto"
                [scrollbarH]="true"
                [count]="pagepatient.totalElements"
                [offset]="pagepatient.pageNumber"
                (page)="setPage($event)"
                (sort)="onSortPatient($event)">
                    <ngx-datatable-column name="Patient Name" [width]="150">
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            {{ row.first_name }} {{ row.last_name }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="MRN" prop="patient_id" [width]="100" [sortable]="true">
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            {{ (row.patient_id != '')?row.patient_id:'-' }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Email" [width]="220" [sortable]="true">
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            {{row.patient_email }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Phone" [sortable]="true" [width]="170">
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            {{row.mobile_phone }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Region" [sortable]="true" [width]="150">
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            {{row.city }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Session" [sortable]="true" [width]="200">
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            {{ row.sessionCount }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Total Time" [sortable]="true" [width]="180">
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            {{ row.totalTime }}
                        </ng-template>
                    </ngx-datatable-column>

                    <!-- <ngx-datatable-column name="Actions" [sortable]="false">
                        <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            <div class="action-col">
                                <a class="custom-btn-edit" md-icon-button value="{{value}}" (click)="setData(row)">
                                    <mat-icon matTooltip="view patient">visibility</mat-icon>
                                </a>
                                <a class="custom-btn-edit" style="margin: 0 1.25rem;" md-icon-button value="{{value}}">
                                    <mat-icon svgIcon="feather:edit" matTooltip="edit patient"></mat-icon>
                                </a>
                                <div class="toggle-switch" matTooltip="change patient status">
                                    <input type="checkbox"  hidden name="doctor_status_{{rowIndex + 1}}"
                                        id="toggle{{rowIndex}}" (change)="changeStatus(row)" [checked]="row.status" />
                                    <label class="toggle-slider" for="toggle{{rowIndex}}"></label>
                                </div>
                            </div>
                        </ng-template>
                    </ngx-datatable-column> -->
                </ngx-datatable>
            </div>
            <mat-paginator style="background: #f1f2f8;" [length]="totalpatient" [pageSize]="requestParamPatient.pasgesize"
                [pageSizeOptions]="[5, 10, 25, 100]" (page)="getServerDataPatient($event)" aria-label="Select page" [pageIndex]="requestParamPatient.current">
            </mat-paginator>
                </div>
            </div>
        <!-- My team start -->
                <div class=" my-team-block" *ngIf="tabVal==2">
                    <div class="section-filters">

                    <div class="search-field">
                        <mat-form-field>
                            <input matInput   name="search" [ngModel]="search"
                                placeholder="Search" (ngModelChange)="searchprofile($event)" />
                            <mat-icon matSuffix>
                                <img src="../../../../assets/search.svg" alt="" />
                            </mat-icon>
                        </mat-form-field>
                    </div>
                </div>

                <div class="my-team-body ">
                        <div  class="table-wrapper">
                            <div class="table-block">
                                    <ngx-datatable
                                        class="material fullscreen"
                                        [rows]="(serverResponse | async) || []"
                                        [headerHeight]="$any('auto')"
                                        [footerHeight]="0"
                                        rowHeight="auto"
                                        [scrollbarH]="true"
                                        [externalPaging]="true"
                                        [count]="page1.totalElements"
                                        [offset]="page1.pageNumber"
                                        (page)="setPage($event)"
                                        (sort)="onSort($event)"
                                    >
                                        <ngx-datatable-column
                                            name="Staff Name"
                                            [sortable]="true"
                                            [width]="150"
                                        >
                                            <ng-template
                                                let-row="row"
                                                let-rowIndex="rowIndex"
                                                ngx-datatable-cell-template
                                            >
                                                {{row.name}}
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column
                                            name="Role"
                                            [sortable]="true"
                                            [width]="150"
                                        >
                                            <ng-template
                                                let-row="row"
                                                let-rowIndex="rowIndex"
                                                ngx-datatable-cell-template
                                            >
                                                {{row.role}}
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column
                                            name="Department"
                                            [sortable]="true"
                                            [width]="150"
                                        >
                                            <ng-template
                                                let-row="row"
                                                let-rowIndex="rowIndex"
                                                ngx-datatable-cell-template
                                            >
                                                {{row.department}}
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column
                                            name="Facility Location"
                                            [sortable]="true"
                                            [width]="200"
                                        >
                                            <ng-template
                                                let-row="row"
                                                let-rowIndex="rowIndex"
                                                ngx-datatable-cell-template
                                            >
                                                {{row.region}}
                                            </ng-template>
                                        </ngx-datatable-column>
                                    </ngx-datatable>
                                </div>
                                <mat-paginator
                                    style="background: #f1f2f8"
                                    [length]="total"
                                    [pageSize]="requestParam.pasgesize"
                                    [pageSizeOptions]="[5, 10, 25, 100]"
                                    (page)="getServerData($event)"
                                    aria-label="Select page"
                                    [pageIndex]="requestParam.current"
                                >
                                </mat-paginator>
                
                        </div>
                    </div>
            </div>
        </div>
</div>    