table {
    width: 100%;
}
.patient-detail-page {
    .patient-widget {
        margin-bottom: 20px;
        .patient-card {
            padding: 20px 16px;
            background: #fff;
            box-shadow: 0px 6px 20px rgba(119, 149, 183, 0.149);
            border-radius: 5px;
            height: 100%;

            .patient-card-header {
                display: flex;
                margin-bottom: 18px;
                .patient-profile-img {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 104px;
                    height: 104px;
                    border-radius: 50%;
                    overflow: hidden;
                }
                .profile-img {
                    width: 100%;
                    object-fit: cover;
                }

                .patient-profile-info {
                    flex: 1;
                    padding-left: 20px;
                    .action-block {
                        margin-top: -8px;
                        text-align: right;
                    }
                    .name {
                        font-size: 18px;
                        font-weight: 500;
                        color: rgba(19, 50, 87, 0.9);
                    }
                    span {
                        font-size: 14px;
                        color: rgba(77, 100, 128, 0.9);
                    }
                }
            }
            .patient-card-body {
                .patient-content {
                    label {
                        font: 14px proxima-regular;
                        color: #57607b;
                    }
                    p {
                        font: 14px proxima-bold;
                        color: #57607b;
                    }
                }
            }
        }
        .time-card {
            padding: 20px 25px;
            background: #ffffff;
            box-shadow: 0px 6px 20px rgba(119, 149, 183, 0.149);
            border: 1px solid #256bcf;
            border-radius: 5px;
            .time-card-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 10px;

                h3 {
                    font-size: 16px;
                    font-weight: 500;
                    color: rgba(77, 100, 128, 0.9);
                }
                label {
                    font-weight: 500;
                    color: rgba(77, 100, 128, 0.9);
                }
            }
            .time-card-body {
                margin-bottom: 17px;
                .timer-info-block {
                    .timer-content {
                        label {
                            font: 14px proxima-regular;
                            color: #57607b;
                        }
                        p {
                            font: 14px proxima-bold;
                            color: #57607b;
                        }
                    }
                }
            }
            .time-card-footer {
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                button {
                    margin-right: 15px;
                    font-size: 13px;
                    font-weight: 700;
                    margin-top: 3px;
                    &.start-btn {
                        background: #2d76de;
                        color: #fff;
                        display: none;
                    }
                    &.stop-btn {
                        background: #ff9f43;
                        color: #fff;
                    }
                    img {
                        margin-right: 8px;
                    }
                }
            }
        }
    }
    .table-filter {
        padding: 23px 17px;
        .mat-button-toggle-group .mat-button-toggle ::ng-deep {
            .mat-button-toggle-label-content {
                display: flex;
                padding: 0 12px;
                strong {
                    margin: 0 5px;
                }
                .indicator {
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    background: #f44336;
                    border-radius: 50%;
                    vertical-align: top;
                    margin-left: -6px;
                    margin-top: 6px;
                }
            }
        }
        .outline-btn {
            border: 2px solid #657e9b !important;
            font-size: 0.875rem;
            font-weight: bold;
            height: 2.375rem;
            min-height: 2.375rem;
            color: #657e9b;
            margin-left: 1.25rem;
        }
    }
    .period-picker {
        width: 16.25rem;
        @media only screen and (max-width: 768px) {
            width: calc(46% - 20px);
            margin-right: 20px;
        }
        @media only screen and (max-width: 600px) {
            width: 100%;
            margin-right: 0px;
        }
        &.mat-form-field-should-float {
            ::ng-deep {
                .mat-date-range-input-separator {
                    opacity: 1;
                }
                .mat-date-range-input-start-wrapper {
                    max-width: calc(50% - 4px);
                    width: calc(48% - 4px);
                }
                .mat-date-range-input-end-wrapper {
                    flex: 1;
                }
            }
        }
        .mat-form-field-flex {
            min-height: 2.5rem;
        }
        ::ng-deep {
            .mat-form-field-flex {
                min-height: 2.5rem;
                border-radius: 10px;
                border-color: #657e9b !important;
                font-size: 0.875rem;
                color: #133257;
                font-weight: 500;
            }
            mat-datepicker-toggle {
                .mat-icon-button {
                    width: 30px !important;
                    min-width: 30px !important;
                    height: 30px !important;
                    min-height: 30px !important;
                }
            }
            .mat-form-field-wrapper {
                margin-bottom: 0;
            }
            .mat-date-range-input-separator {
                opacity: 0;
            }
            .mat-date-range-input-start-wrapper {
                max-width: 100px;
                width: 100px;
            }
            .mat-date-range-input-end-wrapper {
                flex: 1;
            }
        }
    }
    .add-todo-btn {
        border: 2px solid #657e9b !important;
        font-size: 0.875rem;
        font-weight: bold;
        height: 2.375rem;
        min-height: 2.375rem;
        color: #657e9b !important;
    }
}
.add-patient-modal {
    width: 100%;
    .outline-button {
        font-size: 0.875rem;
        font-weight: bold;
        border: 2px solid #657e9b !important;
        color: #657e9b;
    }
    .form-action {
        display: flex;
        align-items: center;
        margin-top: 1.875rem;
        button {
            height: 2.75rem;
            max-height: none;
            font-size: 0.875rem;
            font-weight: bold;
            padding: 0 2.5rem !important;
        }
        .cancel-btn {
            border: 2px solid #657e9b !important;
            color: #657e9b;
            margin-right: 1.5rem;
        }
    }
}
.device-info-container {
    h3 {
        font-size: 16px;
        font-weight: 600;
        color: #5e5873;
    }
    .bp-link-btn {
        font-size: 14px;
        font-weight: 600;
        color: #256bcf;
        text-decoration: underline;
    }
    .device-info-block {
        margin: 35px 0 40px;
    }

    .input-block {
        label {
            font-size: 14px;
            font-weight: 600;
            color: #5e5873;
        }
        .date-picker {
            width: 100%;
            max-width: 170px;
            &.mat-form-field.mat-form-field-appearance-fill::ng-deep {
                .mat-form-field-wrapper {
                    margin: 10px 0 !important;
                }
            }
        }
    }
}
.ICD-code-container {
    label {
        font-size: 14px;
        font-weight: 600;
        color: #5e5873;
    }
    .input-block {
        .mat-form-field {
            display: block;
            max-width: 210px;
            &.mat-form-field-appearance-fill::ng-deep {
                .mat-form-field-wrapper {
                    margin: 10px 0 20px !important;
                }
            }
        }
    }
}
.manage-log-modal {
    .modal-header {
        display: flex;
        align-items: center;
        h2 {
            font-size: 18px;
            font-weight: 700;
            color: #5e5873;
            margin-right: 35px;
        }
        .log-filter {
            display: flex;
            align-items: center;
            flex: 1;
        }
        .time-duration {
            color: #2ac770;
            font-size: 25px;
            font-weight: 600;
        }
    }
    mat-select {
        padding: 0.625rem 0;
    }
    mat-form-field {
        font-size: 0.875rem;
        color: #133257;
        font-weight: 500;
        ::ng-deep {
            .mat-form-field-label-wrapper {
                top: -20px !important;
            }
            .mat-form-field-wrapper {
                margin-top: 16px !important;
            }
            .mat-form-field-label {
                color: #5e5873 !important;
                font-size: 0.75rem !important;
            }
            .mat-form-field-flex {
                min-height: auto;
                border-color: #707070 !important;
            }
            input {
                padding: 0.625rem 0 !important;
            }
        }
    }
    .form-action {
        display: flex;
        align-items: center;
        border-top: 1px solid #d1d4de;
        padding-top: 20px;
        button {
            height: 2.75rem;
            max-height: none;
            font-size: 0.875rem;
            font-weight: bold;
            padding: 0 2.5rem !important;
        }
        .cancel-btn {
            border: 2px solid #657e9b !important;
            color: #657e9b;
            margin-right: 2.1875rem;
        }
    }
}
.manual-log-modal {
    .modal-header {
        display: flex;
        align-items: center;
        margin-bottom: 1.5625rem;
        h2 {
            flex: 1;
            padding: 0 1.25rem;
            text-align: center;
            color: #5e5873;
            font-size: 1.125rem;
            font-weight: 700;
        }
    }
    .confirm-checkbox-container {
        max-width: 80%;
        margin: 0 auto 1.25rem;
        mat-checkbox {
            color: #133257;
            font-weight: 500;
            font-size: 14px;
        }
    }
    .time-input-contaner {
        margin-bottom: 0.9375rem;
        label {
            color: #1e293b;
            font-size: 0.875rem;
            font-weight: 500;
        }
        mat-form-field {
            ::ng-deep {
                .mat-form-field-wrapper {
                    margin: 4px 0 0 !important;
                }
                .mat-form-field-flex {
                    border-color: #657e9b !important;
                    border-radius: 10px;
                    padding: 0 13px;
                }
            }
        }
        mat-select {
            padding: 8px 0px;
        }
    }
    .notes-field {
        mat-form-field {
            ::ng-deep {
                .mat-form-field-wrapper {
                    margin: 0 !important;
                }
                .mat-form-field-flex {
                    border-color: #d1d4de !important;
                    border-radius: 10px;
                }
                textarea {
                    resize: none;
                }
            }
        }
    }
    .total-time {
        background: #e5f8ed;
        padding: 10px;
        color: #005383;
        font-size: 0.875rem;
        label {
            margin-right: 1.875rem;
        }
    }
}

.notes-tab-container {
    .note-tab-content {
        padding: 10px 0;
        .note-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #fff;
            padding: 12px 0px;
            box-shadow: 0px 6px 20px rgba(119, 149, 183, 0.149);
            border-radius: 10px;
            margin-bottom: 10px;
            .left-col {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 400px;
                padding-left: 15px;
                h3 {
                    font: 600 17px proxima-regular;
                    color: #133257;
                }
                .toggle-switch .toggle-slider {
                    background: #7795b7;
                }
                .toggle-switch input:checked + .toggle-slider {
                    background: #ea5455;
                }
            }
            .add-note-btn {
                font-size: 14px;
                font-weight: 700;
                color: #2d76de;
                margin-right: 8px;
                padding: 0px 15px !important;
                img {
                    margin-right: 7px;
                }
            }
        }
        .note-body {
            display: flex;
            background: #ffffff;
            box-shadow: 0px 6px 20px rgba(119, 149, 183, 0.149);
            border-radius: 10px;
            overflow: hidden;
            height: 370px;
            .note-list-container {
                display: flex;
                flex-direction: column;
                width: 400px;
                .note-list-header {
                    display: flex;
                    align-items: center;
                    background: #2d76de;
                    padding: 3px 15px;
                    label {
                        font: 14px proxima-regular;
                        color: #f1f2f8;
                    }
                    span {
                        font: 14px proxima-regular;
                        color: #f1f2f8;
                        padding: 0 0px 0 5px;
                        width: 200px;
                        mat-date-range-input {
                            ::ng-deep {
                                .mat-date-range-input-separator {
                                    color: #f1f2f8;
                                }
                            }
                        }
                    }
                    .reset-btn {
                        color: #fff;
                        padding: 5px 12px;
                        border-radius: 30px;
                        background: rgba(255, 255, 255, 0.14);
                        margin-left: -8px;
                        font-size: 12px;
                        font-weight: 500;
                        letter-spacing: 0.25px;
                    }
                    .calender-icon {
                        margin-left: auto;
                    }
                }
                .note-list-body {
                    flex: 1;
                    overflow: auto;
                    box-shadow: 0px 6px 20px rgba(119, 149, 183, 0.149);
                    ul {
                        li {
                            display: flex;
                            align-items: center;
                            padding: 15px 20px;
                            transition: 0.3s;
                            cursor: pointer;
                            &:hover,
                            &.active {
                                background: #f2f6ff;
                                .note-icon {
                                    img {
                                        filter: invert(32%) sepia(87%)
                                            saturate(1744%) hue-rotate(204deg)
                                            brightness(95%) contrast(82%);
                                    }
                                }
                            }
                            &:hover {
                                .note-action {
                                    width: 45px;
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                            .note-icon {
                                img {
                                    width: 24px;
                                }
                            }
                            .note-content {
                                flex: 1;
                                padding-left: 15px;
                                overflow: hidden;
                                p {
                                    font: 12px proxima-regular;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    color: #57607b;
                                }
                                .note-content-header {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    margin-bottom: 8px;
                                    .date {
                                        font: 600 15px proxima-regular;
                                        color: #57607b;
                                    }
                                    .time {
                                        font: 15px proxima-regular;
                                        color: #57607b;
                                    }
                                }
                            }
                            .note-action {
                                width: 0;
                                opacity: 0;
                                visibility: hidden;
                                overflow: hidden;
                                transition: 0.3s;
                                padding-left: 5px;
                                button {
                                    &:hover {
                                        img {
                                            filter: invert(48%) sepia(21%)
                                                saturate(1761%)
                                                hue-rotate(311deg)
                                                brightness(93%) contrast(97%);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .note-right-col {
                display: flex;
                flex-direction: column;
                flex: 1;
                padding: 8px 25px;
                .note-detail-header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: 3px;
                    border-bottom: 1px solid #d1d4de;
                    .left-col {
                        label {
                            color: #b2b2b2;
                            font: 12px proxima-regular;
                        }
                        .note-timeline {
                            .date {
                                font: 600 15px proxima-regular;
                                color: #133257;
                                margin-right: 20px;
                            }
                            .time {
                                font: 15px proxima-regular;
                                color: #133257;
                            }
                        }
                    }
                }
                .note-detail-body {
                    flex: 1;
                    overflow: auto;
                    padding: 12px 0 0;
                    .note-input {
                        mat-form-field {
                            ::ng-deep {
                                textarea {
                                    color: #57607b;
                                    font: 14px proxima-regular;
                                    resize: none;
                                    margin: 5px 0;
                                }
                                .mat-form-field-flex {
                                    border: 0 !important;
                                    box-shadow: none !important;
                                    padding: 0;
                                }
                                .mat-form-field-label-wrapper {
                                    .mat-form-field-label {
                                        color: #b2b2b2 !important;
                                        font: 12px proxima-regular;
                                    }
                                }
                            }
                        }
                    }
                }
                .note-detail-footer {
                    display: flex;
                    justify-content: space-between;
                    border-top: 1px solid #6a8bb1;
                    padding: 16px 0 10px;
                    button {
                        height: 44px;
                        min-width: 140px;
                        font-size: 14px;
                        font-weight: bold;
                        max-height: none;
                        padding: 0 25px !important;
                        &.mat-stroked-button {
                            border: 2px solid #657e9b !important;
                            color: #657e9b;
                        }
                    }
                }
            }
        }
    }
}
.timer-block {
    display: flex;
    align-items: center;
    svg {
        width: 150px;
    }
    .clock-legend {
        margin-left: 1.875rem;
        p {
            display: flex;
            align-items: center;
            font-size: 14px;
            color: rgba(77, 100, 128, 0.9);
            margin: 8px 0;
            &.in-time {
                i {
                    background: #2d76de;
                }
            }
            &.exceed-time {
                i {
                    background: #ffc400;
                }
            }
            i {
                width: 13px;
                height: 13px;
                border-radius: 50%;
                margin-right: 7px;
            }
        }
    }
}

mat-button-toggle-group.inner-tab {
    padding: 0 20px;
    mat-button-toggle {
        background: transparent;
        font-size: 14px;
        color: #4d6480;
        --fuse-text-default-rgb: #4d6480;
        &.mat-button-toggle-checked {
            background: #2d76de;
            color: #fff;
            --fuse-text-default-rgb: #fff;
        }
    }
}

.notes-tab-filter .mat-button-toggle-checked {
    background: #2d76de;
    color: #fff;
    --fuse-text-default-rgb: #fff;
}
.vital-tab {
    .vital-tab-header {
        display: flex;
        align-items: center;
        margin-bottom: 18px;
        mat-form-field.vital-filter-select {
            font-size: 0.875rem;
            color: #133257;
            font-weight: 500;
            ::ng-deep {
                .mat-form-field-wrapper {
                    margin-bottom: 0;
                    .mat-form-field-flex {
                        min-height: 36px;
                        border-color: #657e9b !important;
                    }
                }
            }
        }
    }
    .vital-tab-body {
        .chart-block {
            background: #ffffff;
            box-shadow: 0px 6px 20px rgba(119, 149, 183, 0.149);
            border-radius: 10px;
            margin-bottom: 26px;
            .chart-block-header {
                padding: 40px 25px;
                .PeriodicText {
                    display: flex;
                    .periodic-col {
                        padding-right: 70px;
                        label {
                            color: #657e9b;
                            font-size: 15px;
                            font-weight: 500;
                        }
                        p {
                            color: #133257;
                            font-weight: 500;
                            font-size: 33px;
                        }
                    }
                }
            }
        }
    }
}

.kitting-modal {
    padding: 0.9375rem 10px;
    .patient-info {
        align-items: center;
        border-bottom: 1px solid #f1f2f8;
        padding: 0px 0 20px;
        margin-bottom: 20px;
        .left-col {
            img {
                width: 55px;
                height: 55px;
                border-radius: 50%;
                margin-bottom: 8px;
            }
            .name {
                font-size: 16px;
                line-height: 1;
                font-weight: 500;
                color: rgba(77, 100, 128, 0.9);
                margin-bottom: 2px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .patient-id {
                font-size: 14px;
                color: rgba(77, 100, 128, 0.9);
            }
            @media (max-width: 600px) {
                margin-bottom: 10px;
            }
        }
        .right-col {
            border-left: 1px solid #bac529;
            @media (max-width: 600px) {
                border-left: 0;
                border-top: 1px solid #bac529;
            }
        }
        .patient-details {
            .details-col {
                padding: 10px 20px;
                label {
                    font-size: 14px;
                    color: #57607b;
                    margin-bottom: 2px;
                }
                p {
                    font-size: 14px;
                    color: #57607b;
                    font-weight: 600;
                    margin: 0;
                }
            }
        }
    }
    .modal-header {
        display: flex;
        align-items: center;
        margin-bottom: 1.5625rem;

        h2 {
            flex: 1;
            padding: 0 1.25rem;
            text-align: center;
            color: #5e5873;
            font-size: 1.125rem;
            font-weight: 700;
        }
    }
    .modal-body {
        .custom-radio-field {
            ::ng-deep {
                .mat-radio-label {
                    align-items: flex-start;
                }
            }
            .radio-btn-content {
                .radio-content {
                    display: flex;
                    align-items: center;
                    span {
                        font-size: 0.875rem;
                        color: #133257;
                        margin-bottom: 5px;
                        margin-right: 7px;
                    }
                    img {
                        width: 13px;
                        height: 13px;
                    }
                }
                p {
                    font-size: 0.75rem !important;
                    color: #133257 !important;
                    margin: 0 !important;
                }
            }
        }
        .input-block {
            .grid {
                gap: 0.3125rem 1.5625rem;
            }
            p {
                font-size: 0.875rem;
                font-weight: 600;
                color: #5e5873;
                margin-bottom: 0.9375rem;
            }
            mat-checkbox {
                color: #133257;
                font-size: 0.875rem;
                font-weight: 500;
            }
            mat-select {
                padding: 0.625rem 0;
                height: 38px;
            }
            mat-label {
                display: block;
                color: #5e5873 !important;
                font-size: 0.75rem !important;
                font-weight: 500 !important;
            }
            mat-radio-group {
                display: inline-block;
                margin-top: 0.625rem;
                margin-bottom: 16px;
                font-size: 0.875rem;
                color: #133257;
                font-weight: 500;
                mat-radio-button {
                    margin-right: 2.8125rem;
                }
            }
            mat-form-field {
                font-size: 0.875rem;
                color: #133257;
                font-weight: 500;
                ::ng-deep {
                    .mat-form-field-label-wrapper {
                        top: -20px !important;
                    }
                    .mat-form-field-wrapper {
                        margin-top: 16px !important;
                    }
                    .mat-form-field-label {
                        color: #5e5873 !important;
                        font-size: 0.75rem !important;
                    }
                    .mat-form-field-flex {
                        min-height: auto;
                        border-color: #707070 !important;
                    }
                    mat-datepicker-toggle {
                        button {
                            width: 38px;
                            height: 38px;
                            min-width: 38px;
                            min-height: 38px;
                        }
                    }
                }
                input {
                    padding: 0.625rem 0;
                }
            }
        }
    }
    .form-action {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 1.875rem;
        button {
            width: 8.75rem;
            height: 2.75rem;
            max-height: none;
            font-size: 0.875rem;
            font-weight: bold;
            padding: 0 2.5rem !important;
        }
        .cancel-btn {
            border: 2px solid #657e9b !important;
            color: #657e9b;
        }
        .next-btn {
            margin-left: 1rem;
        }
    }
}

.form-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.875rem;
    .cancel-btn {
        border: 2px solid #657e9b !important;
        font-size: 0.875rem;
        color: #657e9b;
        font-weight: bold;
        padding: 0 2.5rem !important;
    }
    .next-btn {
        width: 14.375rem;
        font-weight: bold;
        font-size: 0.875rem;
        ::ng-deep {
            .mat-button-wrapper {
                width: 100%;
                mat-icon {
                    position: absolute;
                    right: -20px;
                }
            }
        }
    }
}

.opacitylow {
    opacity: 0.5;
}

.alert-list-page {
    width: 100%;

    .period-picker {
        width: 16.25rem;
        @media only screen and (max-width: 768px) {
            width: calc(46% - 20px);
            margin-right: 20px;
        }
        @media only screen and (max-width: 600px) {
            width: 100%;
            margin-right: 0px;
        }
        &.mat-form-field-should-float {
            ::ng-deep {
                .mat-date-range-input-separator {
                    opacity: 1;
                }
                .mat-date-range-input-start-wrapper {
                    max-width: calc(50% - 4px);
                    width: calc(48% - 4px);
                }
                .mat-date-range-input-end-wrapper {
                    flex: 1;
                }
            }
        }
        .mat-form-field-flex {
            min-height: 2.5rem;
        }
        ::ng-deep {
            .mat-form-field-flex {
                min-height: 2.5rem;
                border-radius: 10px;
                border-color: #657e9b !important;
                font-size: 0.875rem;
                color: #133257;
                font-weight: 500;
            }
            mat-datepicker-toggle {
                .mat-icon-button {
                    width: 30px !important;
                    min-width: 30px !important;
                    height: 30px !important;
                    min-height: 30px !important;
                }
            }
            .mat-form-field-wrapper {
                margin-bottom: 0;
            }
            .mat-date-range-input-separator {
                opacity: 0;
            }
            .mat-date-range-input-start-wrapper {
                max-width: 100px;
                width: 100px;
            }
            .mat-date-range-input-end-wrapper {
                flex: 1;
            }
        }
    }
    .view-btn {
        mat-icon {
            font-size: 30px;
            color: #657e9b;
        }
    }
}
.alert-modal {
    .modal-header {
        text-align: center;
        margin-bottom: 1.5rem;
        h2 {
            flex: 1;
            padding: 0 1.25rem;
            text-align: center;
            color: #5e5873;
            font-size: 1.125rem;
            font-weight: 700;
            margin-bottom: 0.8125rem;
        }
        .alert-tag {
            padding: 5px 10px;
            background: #ea5455;
            font-size: 12px;
            color: #ffffff;
            border-radius: 30px;
        }
        .alert-tag-green {
            padding: 5px 10px;
            background: #2ac770;
            font-size: 12px;
            color: #ffffff;
            border-radius: 30px;
        }
    }
    .modal-body {
        .input-block {
            mat-label {
                display: block;
                color: #5e5873 !important;
                font-size: 0.75rem !important;
                font-weight: 500 !important;
            }

            mat-form-field {
                font-size: 0.875rem;
                color: #133257;
                font-weight: 500;
                ::ng-deep {
                    .mat-form-field-label-wrapper {
                        top: -20px !important;
                    }
                    .mat-form-field-wrapper {
                        margin-top: 16px !important;
                    }
                    .mat-form-field-label {
                        color: #5e5873 !important;
                        font-size: 0.75rem !important;
                    }
                    .mat-form-field-flex {
                        min-height: auto;
                        border-color: #707070 !important;
                    }
                }
                input {
                    padding: 0.625rem 0;
                }
            }
        }
        .blood-pressure-block {
            .block-header {
                display: flex;
                margin-bottom: 0.75rem;
                label {
                    flex: 1;
                    font-size: 0.875rem;
                    color: #5e5873;
                    font-weight: 600;
                }
                span {
                    font-size: 0.875rem;
                    color: #5e5873;
                }
            }
            .block-item {
                display: flex;
                align-items: center;
                margin-bottom: 1.25rem;
                i {
                    width: 7px;
                    height: 7px;
                    background: #2d76de;
                    border-radius: 30px;
                    margin-right: 10px;
                }
                p {
                    color: #5e5873;
                }
            }
        }
    }
    .form-action {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1.875rem;
        button {
            width: 8.75rem;
            height: 2.75rem;
            max-height: none;
            font-size: 0.875rem;
            font-weight: bold;
            padding: 0 2.5rem !important;
        }
        .cancel-btn {
            border: 2px solid #657e9b !important;
            color: #657e9b;
        }
        .next-btn {
            margin-left: 1rem;
        }
    }
}

.note-star-merge {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
        width: 20px;
    }
}
.delete-patient-modal {
    padding: 0.9375rem 10px;
    .modal-header {
        display: flex;
        align-items: center;
        margin-bottom: 1.5625rem;
        h2 {
            flex: 1;
            padding: 0 1.25rem;
            text-align: center;
            color: #5e5873;
            font-size: 1.125rem;
            font-weight: 700;
        }
    }
    .modal-body {
        .input-block {
            mat-select {
                padding: 0.625rem 0;
                height: 38px;
            }
            mat-label {
                display: block;
                color: #5e5873 !important;
                font-size: 0.75rem !important;
                font-weight: 500 !important;
            }

            mat-form-field {
                font-size: 0.875rem;
                color: #133257;
                font-weight: 500;
                ::ng-deep {
                    .mat-form-field-label-wrapper {
                        top: -20px !important;
                    }
                    .mat-form-field-wrapper {
                        margin-top: 16px !important;
                    }
                    .mat-form-field-label {
                        color: #5e5873 !important;
                        font-size: 0.75rem !important;
                    }
                    .mat-form-field-flex {
                        min-height: auto;
                        border-color: #707070 !important;
                    }
                    mat-datepicker-toggle {
                        button {
                            width: 38px;
                            height: 38px;
                            min-width: 38px;
                            min-height: 38px;
                        }
                    }
                }
                input {
                    padding: 0.625rem 0;
                }
            }
        }
    }
    .form-action {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 0.625rem;
        button {
            width: 8.75rem;
            height: 2.75rem;
            max-height: none;
            font-size: 0.875rem;
            font-weight: bold;
            padding: 0 2.5rem !important;
        }
        .cancel-btn {
            border: 2px solid #657e9b !important;
            color: #657e9b;
        }
        .next-btn {
            margin-left: 1rem;
        }
    }
}
