<div>
    <div class="table-container">
        <div class="table-wrapper">
            <div class="table-block">
                <ngx-datatable class="material fullscreen" [rows]="(serverResponse | async) || []"
                    [headerHeight]="$any('auto')" [footerHeight]="0" rowHeight="auto" [scrollbarH]="true"
                    [count]="page1.totalElements" [offset]="page1.pageNumber" (page)="setPage($event)"
                    (sort)="onSort($event)">
                    <ngx-datatable-column name="Round" [width]="150">
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            <a class="patientName" (click)="setData(row)" matTooltip="view Tournment">{{ row.round_id }}</a>
                        </ng-template>
                    </ngx-datatable-column>
    
                    <ngx-datatable-column name="Match" prop="tour_type" [width]="100" [sortable]="true">
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            {{ row.match_number }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Court Number" prop="tour_type" [width]="100" [sortable]="true">
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            {{ row.court_number }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Status" prop="tour_type" [width]="100" [sortable]="true">
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            {{ row.statusText }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Actions" [sortable]="false">
                        <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex"
                            ngx-datatable-cell-template>
                            <div class="action-col">
                                <a class="custom-btn-edit" md-icon-button value="{{ value }}" (click)="goToMatch(row)">
                                    <mat-icon matTooltip="view patient">visibility</mat-icon>
                                </a>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
            <!-- <mat-paginator *ngIf="addClass === 'list'" style="background: #f1f2f8" [length]="total"
                [pageSize]="requestParam.pasgesize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="getServerData($event)"
                aria-label="Select page" [pageIndex]="requestParam.current">
            </mat-paginator> -->
        </div>
    </div>
</div>